a {border:0px solid #FFFFCC;font-size:10pt;text-decoration:none} a:hover {font-size:10pt; 
font-family:Arial; color: #000000;text-decoration:none;background-color:#D8D68B;padding:0;} 
a:link {font-size:10pt; font-family:Arial; text-decoration:none} div {font-family:Arial;font-size:10pt;text-decoration:none} 
body { background:#FFFFCC; overflow-y:scroll} span.h1 a {border:0px solid #FFFFCC;font-size:13.5pt;font-family:Times 
New Roman, Times, serif;text-decoration:none} span.h1 a:hover {font-size:13.5pt; 
font-family:Times New Roman, Times, serif; color: #000000;text-decoration:none;background-color:#D8D68B;padding:0;} 
span.h1 a:link {border:0px solid #FFFFCC;font-size:13.5pt;font-family:Times New 
Roman, Times, serif;text-decoration:none} span.h2 a {border:0px solid #FFFFCC;font-size:11pt;font-family:Georgia, 
Times New Roman, Times, serif;text-decoration:none} span.h2 a:hover {font-size:11pt; 
font-family:Georgia, Times New Roman, Times, serif; color: #000000;text-decoration:none;background-color:#D8D68B;padding:0;} 
span.h2 a:link {border:0px solid #FFFFCC;font-size:11pt;font-family:Georgia, Times 
New Roman, Times, serif;text-decoration:none} .h3 a {border:0px dotted #FFFFCC;font-size:11px;font-family:Tahoma; 
text-decoration:none} .h3 a:hover {font-size:11px;font-family:Tahoma; color: #000000;text-decoration:none;background-color:#D8D68B;padding:0;} 
.h3 a:link {border:0px solid #FFFFCC;font-size:11px;font-family:Tahoma;text-decoration:none} 
.h4 {font-size:11px;font-family:Arial; color: #999933} .textfield {background-color: 
#FFFFCC; /* Цвет фона */ color: #930; /* Цвет текста */} span.maj a:hover {font-size:10.0pt; 
font-family:Georgia; color: #000000;text-decoration:none;background-color:#D8D68B;padding:0;} 
span.maj a:link {border:0px solid #FFFFCC;font-size:10.0pt;font-family:Georgia;text-decoration:none} 
