:root {
    --off-white: rgb(221, 221, 221);
    --off-white-darker: rgb(198, 198, 198);
    --light-off-white: rgb(241, 241, 241);
    --off-black: rgb(4, 1, 19);
    --dark-gray: #5a5a5a;
    --light-gray: #8f8f8f;
    --dark-blue: #42426a;
    --blue: #3434be;
    --del-dark-red: #b30000;
    --del-light-red: #fadad7;
    --ins-dark-blue: #000dff;
    --ins-light-blue: #acb0ff;
    --ins-dark-green: #406619;
    --ins-light-green: #eaf2c2;

}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    /* background: white; */
    background: var(--off-black);
    font: 1rem sans-serif;
    color: var(--off-white)
}

body {
    padding-top: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

.instructions-heading {
    text-align: center;
    font-style: italic;
    font-size: .9rem;
    padding-bottom: .5rem;
}


#comparison-area {
    display: flex;
    flex-direction: row;
    column-gap: .7rem;
    padding: 1rem;

}


.sutta-area {
    flex-grow: 1;
    min-width: 26vw;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 10px;
}

h1 {
    font-size: 130%;
}

.red-green .sutta-one,
.red-blue .sutta-one {
    background-color: var(--del-light-red);
    color: var(--del-dark-red)
}

.monochrome .sutta-one {
    background-color: var(--off-white-darker);
    color: var(--off-black);
    font-weight: bold;

}

.red-green .sutta-two {
    background-color: var(--ins-light-green);
    color: var(--ins-dark-green)
}

.red-blue .sutta-two {
    background-color: var(--ins-light-blue);
    color: var(--ins-dark-blue)
}

.monochrome .sutta-two {
    background-color: var(--dark-gray);
    color: var(--off-white);
    font-weight: bold;
}




.red-green del,
.red-blue del {
    text-decoration: none;
    color: var(--del-dark-red);
    background: var(--del-light-red);
    font-weight: bold;
}

.monochrome del {
    background-color: var(--off-white-darker);
    color: var(--off-black);
    font-weight: bold;
    text-decoration: none;
}

.red-green ins {
    color: var(--ins-dark-green);
    background: var(--ins-light-green);
    text-decoration: none;
    font-weight: bold;
}

.red-blue ins {
    color: var(--ins-dark-blue);
    background: var(--ins-light-blue);
    text-decoration: none;
    font-weight: bold;
}

.monochrome ins {
    background-color: var(--dark-gray);
    color: var(--off-white);
    font-weight: bold;
    text-decoration: none;
}


.comparison {
    background-color: var(--light-off-white);
    color: var(--off-black);
}

.monochrome .comparison {
    background-color: white;
    color: black;
}

.sc-link {
    text-align: center;
}

#comparidon-content {
    white-space: pre-wrap;
}

.content-area {
    margin-top: 1rem
}

li {
    list-style: none;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 2em;
    line-height: 2em;
    column-gap: 2rem;
}

#settings {
    height: 2em;
    line-height: 2em;
    display: flex;
    flex-wrap: wrap;
}

#settings label {
    margin-left: .4em;
}

select {
    height: 1.5rem
}

[contentEditable] {
    background: #F9F9F9;
    border-color: #BBB #D9D9D9 #DDD;
    border-radius: 4px;
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
}

[contentEditable]:focus {
    background: #FFF;
    border-color: #6699cc;
    box-shadow: 0 0 4px #2175c9;
}

@-moz-document url-prefix() {
    body {
        height: 99%;
        /* Hide scroll bar in Firefox */
    }
}



.input-area {
    border-radius: 0;
    border: 1px solid;
    background-color: var(--off-white);
    color: var(--dark-gray);
    padding: .1rem;
}

.dark .input-area {
    background-color: var(--dark-blue);
    color: var(--off-white);
}

.input-area:focus {
    background-color: var(--off-white);
    color: var(--off-black);
    outline: none;
}

.dark .input-area:focus {
    background-color: var(--off-white);
    color: var(--off-black);
    border-color: var(--off-white);
}

.go-button {
    border-radius: 0;
    border: 1px solid var(--dark-gray);
    border-left: 0px;
    padding: .1rem
}

.icon-trash {
    position: relative;
    top: .3rem;
    padding-left: .3rem;
}

.compare-button {
    border-radius: 0;
    border: 1px solid var(--dark-gray);
    /* border-left: 1px !important; */
    padding: .1rem
}

.dark .go-button,
.dark .compare-button {
    border-color: var(--off-white);
    background-color: var(--dark-blue);
    color: var(--off-white);
}

.dark .go-button:hover {
    background-color: var(--light-gray);
}

.byline {
    text-align: center;
}

/* --------- OTHER TOOLS ICONS --------*/
.links-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.icon {
    filter: brightness(1);
    filter: invert(100%);
}

.links-area a {
    position: relative;
    top: 0;
    transition: all ease 0.5s;
    filter: brightness(100%);
}

.links-area a:hover {
    top: -3px;
    filter: brightness(130%);
}

a.labs {
    rotate: 0deg;
    transition: rotate ease 1s;
}

a.labs:hover {
    rotate: 55deg;
    top: 0px !important;
}


@media only screen and (max-width: 575px) {
    .options {
        column-gap: .8rem;
    }

    #comparison-area {

        flex-direction: column;
        row-gap: .7rem
    }

    .sutta-one,
    .sutta-two {
        height: 20vh;
        overflow: auto;
        font-size: .8rem;
    }

    .sutta-area {
        padding: .5rem !important
    }

    ul {
        display: none;
    }

    header br {
        display: none;
    }

    br {
        height: .5rem;
    }

    h1 {
        font-size: .8rem !important;
    }

}