/*------------
 Embed Font
------------*/

@font-face {
    font-family: "Stone Serif";
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/StoneSerifRegular.woff)
}

@font-face {
    font-family: "Stone Serif";
    font-weight: normal;
    font-style: italic;
    src: url(../../fonts/bookfonts/StoneSerifRegularItalic.woff)
}

@font-face {
    font-family: "Stone Sans Std Regular SC";
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/StoneSansStdRegularSC.woff)
}

/*------------
 Layout
------------*/

body {
    font-family: "Stone Serif", serif;
    font-size: 1.1em
}

/*------------
 Headings
------------*/

h1 + p, h1 + table {
    margin-top: 5%
}

h1 + div.subtitle {
    margin-top: 2%
}

div.subtitle {
    font-family: "Stone Sans Std Regular SC", sans-serif
}

h2 {
    text-align: center;
    font-family: "Stone Sans Std Regular SC", sans-serif;
    letter-spacing: 0.1em
}

#titlepage h2 {
    font-size: 2.2em;
    font-family: "Stone Serif", serif
}

#titlepage h2 + h2 {
    padding-top: 0.25em
}

#titlepage h3 {
    font-style: italic;
    font-family: "Stone Sans Std Regular SC", sans-serif
}

/*------------
Copyright Page
------------*/

#copyright h2 {
    text-indent: -3%;
    font-size: 0.95em
}

#copyright p + h2 {
    margin-top: 2%
}

/*------------
 Paragraphs
------------*/

.block p {
    margin: 0.2em 0
}

.address {
    font-size: 0.7em;
    font-family: "Stone Sans Std Regular SC", sans-serif
}
