@charset "UTF-8";
/* Commentaires et règles de style peuvent contenir des caractères non ASCII. */

html, body {
height:100%;
margin:5px;
background-color:#fff;
font:100% "trebuchet ms",geneva,arial,sans-serif;
color:#000;
}

.nocss {
display:none;
}

.ptt p, .pttd p, .pttn p, .pttj p, .ptt ol, .ptt ul {
margin:.3em 0;
font:.9em/.9em "trebuchet ms",geneva,arial,sans-serif;
text-align:left;
}

.pi, .pit {
font:100% "trebuchet ms";
font-style:italic;
}

.pit, .dur {
cursor:help;

border-bottom:1px dotted;
}

.pet {font-size:.8em;}

img {
border:0;
}

.ima {
margin:1em;
}

.imag, .imad {
position:relative;
margin:0 1em .5em;
}

.imag {
float:left;
}

.imad, .imab {
float:right;
}

.imab {
width:250px;
height:300px;
}

.miniban  {
height:15px;
width:80px;
}

#tete {
width:100%;
height:41px;
background:url(../im/ddorgnb.gif) no-repeat left;
}

#logo, #ddorg, #kut img, #aa0 {
display:none;
}

#aa1 {width:23px; right:300px;}
#aa2 {width:30px; right:240px;}
#aa3 {width:32px; right:170px;}
#aa4 {width:32px; right:115px;}
#aa5 {width:31px; right:70px;}
#aa6 {width:35px; right:15px;}

#aa1, #aa2, #aa3, #aa4, #aa5, #aa6 {
position:absolute;
top:0;
height:32px;
font-size:.7em;
line-height:1.2em;
}

#ici {
position:absolute;
z-index:9;
left:10em;
top:3em;
}

#menui, #menua, #menub, #menud, #menus, #menuv, #menul, #menum, #menun {
position:relative;
z-index:9;
float:left;
top:14px;
margin-top:-1em;
margin-bottom:1em;
font:1.4em "arial narrow","trebuchet ms",geneva,arial,sans-serif;
width:100%;
}

#pds {
font-size:.7em;
margin-top:3px;
}

#md, #md ul {
list-style:none;
line-height:.8;
background-color:#fff;
margin:0;
padding:0;
width:5em;
}

#md a {
display:block;
color:#000;
text-decoration:none;
padding:0.25em;
width:5em;
}

#md a.papa {
background:url(../im/menuf.gif) right no-repeat;
}

#md li {
padding:0;
width:5.4em;
font-size:90%;
}

#md li ul {
position:absolute;
left:-999em;
height:auto;
width:8em;
font-weight:normal;
border:2px solid #000;
margin:-1.5em 4.9em;
}

#md li li {
padding-right:1em;
width:8em;
text-align:left;
}

#md li ul a {
w\idth:8.4em;
}

#md li ul ul {
margin:-1.6em 0 0 8.3em;
}

#md li:hover ul ul, #md li:hover ul ul ul, #md li.sfhover ul ul, #md li.sfhover ul ul ul {
left:-999em;
}

#md li:hover ul, #md li li:hover ul, #md li li li:hover ul, #md li.sfhover ul, #md li li.sfhover ul, #md li li li.sfhover ul {
left:auto;
}

#md li:hover, #md li.sfhover {
background-color:#f42;
}

#choix, #choix ul {
position:relative;
float:left;
font:.9em/1em geneva,arial,sans-serif;
list-style:none;
background-color:#fff;
border:2px inset #999;
margin:.3em .15em;
padding:0;
width:6em;
}

#choixf {
background:url(../im/choixf640.gif) no-repeat right;
}

#choix a {
display:block;
color:#000;
text-decoration:none;
padding:0.15em;
width:5.4em;
}

#choix li {
padding:0;
width:6em;
}

#choix li ul {
position:absolute;
left:-999em;
height:auto;
width:9.5em;
border:solid 2px #000;
margin:0 -2em;

}

#choix li li {
padding-right:1em;
width:8.5em;
text-align:left;
}

#choix li ul a {
w\idth:9em;
}

#choix li:hover ul, #choix li li:hover ul, #choix li.sfhover ul, #choix li li.sfhover ul {
left:auto;
}

#choix li:hover, #choix li.sfhover {
background:#fa2;
}

.l-alpha {
list-style-type:lower-alpha;
}

.u-alpha {
list-style-type:upper-alpha;
}

#gauche {
float:left;
width:20%;
height:100%;
padding:.7em;
}

#centre {
float:left;
width:57%;
height:100%;
padding:.9em 0 0 .5em;
}

#droit {
float:right;
width:15%;
height:100%;
padding:0 .7em 0 0;
}

.bloc, .bloci, .case {
float:left;
width:100%;
margin-top:.7em;
border:2px solid #000;
}

.case {margin-right:8px; padding-left:3px;}
.case p {padding-left:10px;}
.case h1 {padding-left:10px;}

.cont, .contp {
margin:.5em;
}

.fl {
float:left;
}

.frgd {
position:relative;
float:right;
margin:0 0 0 1em;
font:.7em "trebuchet ms",geneva,arial,sans-serif;
line-height:2em;
}

.drfr, .dren, .drmy, a.drfr, a.dren, a.drmy, a.drafr, a.draen, a.dramy, .drjp, a.drjp, a.drajp {
display:block;
width:21px;
height:14px;
margin-top:10px;
margin-left:5px;
background-repeat:no-repeat;
}

a.drfr {background-image:url(../im/flagfrnb.gif);}
a.drfr:hover {background-image:url(../im/flagfr.png);}

a.dren {background-image:url(../im/flagennb.png);}
a.dren:hover {background-image:url(../im/flagen.png);}

a.drmy {background-image:url(../im/flagmynb.gif);}
a.drmy:hover {background-image:url(../im/flagmy.png);}

a.drjp {background-image:url(../im/flagjpnb.png);}
a.drjp:hover {background-image:url(../im/flagjp.png);}

a.drafr {background-image:url(../im/flagfr.png);}
a.draen {background-image:url(../im/flagen.png);}
a.drajp {background-image:url(../im/flagjp.png);}
a.dramy {background-image:url(../im/flagmy.png);}

a.drafr, a.draen, a.dramy, a.gdrafr, a.gdraen, a.gdramy, a.drajp, a.gddrajp {
cursor:default;
}

.gdrfr, .gdren, .gdrmy, a.gdrfr, a.gdren, a.gdrmy, a.gdrafr, a.gdraen, a.gdramy, .gdrjp, a.gdrjp, a.gdrajp {
display:block;
width:30px;
height:20px;
margin-left:1em;
background-repeat:no-repeat;
}

a.gdrfr {background-image:url(../im/flagfrgn.png);}
a.gdren {background-image:url(../im/flagengn.png);}
a.gdrjp {background-image:url(../im/flagjpgn.png);}
a.gdrmy {background-image:url(../im/flagmygn.png);}
a.gdrafr {background-image:url(../im/flagfrgd.png);}
a.gdraen {background-image:url(../im/flagengd.png);}
a.gdrajp {background-image:url(../im/flagjpgd.png);}
a.gdramy {background-image:url(../im/flagmygd.png);}

#pied {
float:left;
position:relative;
bottom:0;
width:100%;
text-align:center;
}

.navacc, .navtop, .navbas, .navpre, .navsui, .navaid, .navrec {
position:relative;
display:block;
float:right;
width:19px;
height:19px;
bottom:-3px;
margin:0 9px -4px -2px;
}

.navacc {background:url(../im/navdepacc.png) no-repeat;}
.navtop {background:url(../im/navdeptop.png) no-repeat;}
.navbas {background:url(../im/navdepbas.png) no-repeat;}
.navpre {background:url(../im/navdeppre.png) no-repeat;}
.navsui {background:url(../im/navdepsui.png) no-repeat;}
.navaid {background:url(../im/navdepaid.png) no-repeat;}
.navrec {background:url(../im/navdeprec.png) no-repeat;}

#nava, #navr, #navd, #navp, #navt, #navs, #navd,
.navtb-t, .navtb-b {
background-repeat:no-repeat;
display:block;
float:left;
width:19px;
height:19px;
top:20px;
margin:5px;
}

#nava, #navr, #navd, #navp, #navt, #navs, #navd {
position:absolute;
}

#navd {left:62%; background:url(../im/navdepacc.png) no-repeat;}
#navr {left:68%; background:url(../im/navdeprec.png) no-repeat;}
#nava {left:74%; background:url(../im/navdepaid.png) no-repeat;}
#navp {left:80%; background:url(../im/navdeppre.png) no-repeat;}
#navt {left:86%; background:url(../im/navdeptop.png) no-repeat;}
#navs {left:92%; background:url(../im/navdepsui.png) no-repeat;}
.navtb-t {background:url(../im/navdeptop.png) no-repeat;}
.navtb-b {background:url(../im/navdepbas.png) no-repeat;}

.navtb {
margin:0 auto;
width:58px;
padding:7px;
padding-top:15px;
}

a.ffx, a.xh1, a.css, a.aaa {
position:absolute;
display:block;
width:60px;
height:20px;
margin-top:5px;
top:20px;
padding-bottom:5px;
background-repeat:no-repeat;
}

a.xh1 {background-image:url(../im/60w3cxnb.gif); left:-5%;}
a.css {background-image:url(../im/60w3ccnb.gif); left:10%;}
a.aaa {background-image:url(../im/60w3canb.gif); left:25%;}
a.ffx {background-image:url(../im/60ffoxnb.gif); left:40%;}

#hrpied {
margin-top:7px;
background:#888;
border:0;
width:420px;
height:2px;
}

.h0, h1, h2, h3, h4 {
font:110% "trebuchet ms";
font-weight:bold;
text-align:left;
line-height:.9em;
margin:1em 0 0;
}

.h0, #titre {
font-size:1em;
font-weight:bold;
color:#f00;
margin-top:-1em;
padding-top:1em;
border-style:none;
}

#titre {
font-size:1.5em !important;
}

#titrei {
font-size:1.5em !important;
line-height:.9em;
color:#000;
}

h1 {
font-size:1.5em;
margin-top:0;
}

h2 {
font-size:1.35em;
}

h3 {
font-size:1.2em;
}

h4 {
font-size:1em;
}

h5 {
font-size:.9em;
margin:0;
margin-top:2em;
text-align:center;
}

ul, ol {
text-align:left;
}

.it {
font-style:italic;
margin-bottom:-.3em;
}

.itph {
font-style:italic;
color:#555;
font-size:80%;
line-height:1em;
}

.rem {
font-weight:bold;
}

.ret {
margin-left:1.5em;
margin-right:1.5em;
}

.tab {
text-indent:2em;
}

.gris {
color:#bbb;
font-weight:normal;
}

.cen {
text-align:center;
}

#rc0 {
position:relative;
z-index:1;
text-align:right;
font:.8em geneva,arial,sans-serif;
color:#aaa;
top:-.7em;
margin:-1em 0;
padding-top:1em;
}

#dd {
position:relative;
z-index:9;
float:right;
font:.7em geneva,arial,sans-serif;
}

.treb {
font-family:"trebuchet ms",geneva,arial,sans-serif;
}

.livre {
position:relative;
float:left;
width:104px;
height:141px;
margin:10px;
background:none;
}

.livre img {
margin-top:2px;
margin-left:2px;
width:92px;
height:129px;
}

dl.ddd {
width:80%;
margin:2em;
padding:0;
}

.ddd dt, .ddd dd {
border:1px solid #000;
padding:.5em;
margin:0;
}

.ddd dt {
font:bold .9em geneva,arial,sans-serif;
text-align:center;
margin:2em 0 0;
}

#kut {
position:relative;
left:-.5%;
height :100%;	
width :100%;
}

#kut cite {	
position:relative;
margin:1em;
}

table {
background-color:#fff;
border:2px solid #000;
border-collapse:collapse;
text-align:left;
}

tfoot td {
text-align:center;
font-weight:bold;
}

.dis {
margin-top:1.5em;
background:#000;
border:0;
width:80%;
height:1px;
}

.def {
font-weight:bold;
}

a#php {
width:94px;
height:15px;
position:relative;
display:block;
background-repeat:no-repeat;
background-image:url(../im/php.png);
top:0;
left:0;
}

#luna {
background-color:#fff;
border:0;
}

#lunb {
padding:10.6px;
padding-bottom:2.8px;
padding-top:8px;
border:0;
text-align:center;
}

#lunc {
padding-bottom:4px;
color:#000;
text-indent:.7em;
font-family:arial,helvetica,sans-serif;
font-size:1.1em;
}

#lund {
padding-top:2.8px;
text-align:center;
}

#lune {
font-size:10px;
font-family:arial,verdana,sans-serif;
color:#888;
text-decoration:underline;
border:none;
}

#tour {
background:#000;
padding:2px;
}

a#ddfr {
position:relative;
float:right;
top:-30px;
display:block;
background-image:url(../im/ddfr.gif);
background-repeat:no-repeat;
width:125px;
height:68px;
}
#etr {margin-right:8.5em; margin-left:1.5em;}

.bulle, .ma {display:none;}

.sm {cursor:default;}

.plus, .moins {
border:#000 dotted 1px;
margin:.7em 0;
padding:.3em;
color:#333;
}

.ita {font-style:italic;}

.cicoepidli {
position:absolute;
font:bold .7em geneva,arial,sans-serif;
text-indent:15px;
color:#aaa;
font-style:normal;
}

.ast {
font:1.8em century,georgia,times new roman;
vertical-align:sub;
}

.vers {
font-style:italic;
margin:2em 4em;
font-family:geneva,arial,sans-serif;
}

.resu {
color:#555;
margin:2em;
font:.9em geneva,arial,sans-serif;
}

.minihr {
margin-top:1.3em;
margin-bottom:1.3em;
border:2px #ccc solid;
width:77px;
height:0;
}

.ptgris {color:#555; font-size:.7em;}

#ldb {
position:relative;
float:left;
margin-top:5px;
margin-left:40px;
z-index:3;
font-size:.6em;
}

#ldb a {border:solid 1px; text-decoration:none; color:#000; border-color:#000;}
#ldb a:hover {border:solid 1px; border-color:#000; background:none;}



/*--------------------------------------------
   Gestion des articles du lexique
--------------------------------------------*/

.lexiterm {
color:black;
font-family: "Trebuchet MS", Geneva, Arial, sans-serif;
font-size:1.4em;
font-weight:bold;
margin-bottom:0.4em;
margin-left:0em;
margin-top:0.9em;
}

.lexigram {
color:gray;
font-family: Arial, sans-serif;
font-size:1em;
font-weight:bold;
margin-bottom: 0.3em;
margin-left:0.1em;
margin-top: 0.8em;
}

.lexigrampuce {
border:1px solid white;
background-color:gray;
color:white;
font-family: "Courier New", Geneva, Arial, sans-serif;
font-size:0.9em;
margin-left:0.2em;
margin-right:0.5em;
padding-bottom: 0em;
padding-top: 0em;
padding-left: 0.3em;
padding-right: 0.3em;
}

.lexicontexte {
color:darkred;
font-family: "Trebuchet MS", Arial, sans-serif;
font-size:0.85em;
font-weight:normal;
}

.lexidefi {
color:#333;
font-family: "Trebuchet MS", serif;
font-size:1em;
font-weight:normal;
margin-bottom: 0.4em;
margin-top: 0.4em;
margin-left: 2.1em;
margin-right: 1em;
}

.lexidefipuce {
float:left;
border:1px solid #333;
color:#333;
font-family: "Courier New", Geneva, Arial, sans-serif;
font-size:0.8em;
margin-top:0.2em;
margin-left:0.5em;
margin-right:0.5em;
padding-bottom: 0em;
padding-top: 0em;
padding-left: 0.2em;
padding-right: 0.3em;
}

.lexirema {
color:#555;
font-family: Arial, sans-serif;
font-size:0.9em;
font-weight:normal;
margin-bottom: 0.2em;
margin-top: 0.8em;
margin-left: 2.3em;
margin-right: 2em;
}

.lexiliste {
margin-left: -2em;
line-height:.8em;
}

.lexiliste {
font-size:.8em;
font-weight:normal;
}

/*--------------------------------------------
   Tableau numéroté avec nom et description
--------------------------------------------*/

tr.lgn {
vertical-align:top;
}

td.colnum 
{
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:right;
}

td.colnom {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:left;
}

td.coldsc {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:justify;
}

/*--------------------------------------------
   Tableau numéroté avec nom et description
   pour volets (style koṭṭhāsa)
--------------------------------------------*/

table.nndv {
border-collapse:collapse;
border-width:2px;
background-color:transparent;
margin-bottom:1em;
margin-top:1em;
table-layout:auto;
}

tr.nndv {
vertical-align:top;
}

td.nndv-colnum, th.nndv-colnum {
border-left:2px solid #000;
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:right;
}

td.nndv-colnom {
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:left;
}

td.nndv-coldsc {
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:justify;
width:10em;
}


