*{
	margin:0px;
}


@font-face {
    font-family: "MinionPro"; /* имя шрифта для CSS правил */
    src: local("MinionPro-Regular"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/MinionPro-Regular.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face { 
    font-family: "MinionPro";
    src: local("MinionPro-Bold"),
    url(/fonts/MinionPro-Bold.otf); 
    font-weight: bold;
	font-style: normal;
}

@font-face { 
    font-family: "MinionPro";
    src: local("MinionPro-It"),
    url(/fonts/MinionPro-It.otf); 
    font-weight: normal;
	font-style: italic;
}

@font-face { 
    font-family: "MinionPro";
    src: local("MinionPro-BoldIt"),
    url(/fonts/MinionPro-BoldIt.otf); 
    font-weight: bold;
	font-style: italic;
}

html, body {

	/*display: -webkit-flex;
	display: flex;
	*/
	margin:0 auto;
}

body {

  	/*overflow:hidden;*/
 	background-color: #fee789; 
	font-family: MinionPro-Regular;
}


A {
	color: #1e8c00;
	text-decoration: none;
	border-bottom: dotted 1px;
}



A:hover {
	color: #a2610d;
	text-decoration: none;
	border-bottom: dotted 1px;
}

.news-thera {
	color: #a2610d;
	font-size: 25pt;
	padding: 20px 0 0 0;
	
}


hr {
    background-color: #64441d;
    border: 0 none;
    color: #64441d;
    height: 1px;	
}

hr.news {
    background-color: #a2610d;
    border: 0 none;
    color: #a2610d;
    height: 1px;
	width: 80%;
}

a.news-thera-the_title {
	font-size: 18pt;
}

#searchform, .thera-form {
	padding: 0 0 10px 0;
    float: right;
}

#searchsubmit, .thera-form-text {
	height: 32px;
	color: #fff;
	background-color: #a2610d;
}

#s, .thera-form-submit {
	height: 32px;
	font-size: 11pt;
	max-width: 300px;
}


.header-div {
	max-height: 200px;
}

DIV.logo-div {
	margin: 0; 
	padding: 0; 
	text-align: center;

}

IMG.logo-img {
	margin:0; 
	padding: 0;
	max-height: 200px;
}

#up_menu {
   z-index: 1000;
   position: sticky; 
   top: 0px;
   background-color: #fee789;
}

.broad {
	padding-bottom: 10px;
}

a.home, a.post {
	font-size: 14pt;
	font-weight: bold;
}

.content-area {
	background-color: #fef7b1;
}

.wrapper {
	padding: 0;
	background-color: #fee789;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
}

.content-area{
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	
}

.site-main{
	padding: 10px;
	/* для прокрутки
	min-height: 57vh;
	max-height: 57vh;
	
	overflow-y: scroll; 
	*/
}



#wrapper-footer, #wrapper-footer-full {
	max-height: 80px;
	margin: 0;
	background-color: #fee789;
}


ul.page-list {
    list-style:none;
    overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;	
}


ul.page-list li.page_item {
    /*height: 50px;*/
	/*width: 160px; */
	padding: 0 0 0 0;
	border: solid 2px #5b411c;
	text-align: center;
	padding: 5px;
	background: url('/images/button_yellow.jpg') no-repeat;
    background-size: cover; /* Современные браузеры */
    display: -webkit-flex;
	float: left;
	margin: 0 0 5px 5px;	
    -webkit-align-items: center;
    -webkit-box-pack: center;

    /* Standard Form - IE 11+, FF 22+, Chrome 29+, Opera 17+ */
    display: flex;
    align-items: center;
    justify-content: center;	
}
ul.page-list li.page_item:hover {
	background: url('/images/button_green.jpg') no-repeat;
    background-size: cover; /* Современные браузеры */
}

ul.page-list li.page_item.current_page_item {
	background: url('/images/button_onpage.jpg') no-repeat;
    background-size: cover; /* Современные браузеры */
}

ul.page-list li.page_item a {
	font-weight: bold;
	position: relative; 
    color: #1e8c00;
	border: none;
	text-decoration: none;
	font-size: 10pt;
}

ul.page-list li.page_item:hover a {
    color: #a2610d;
	text-decoration: none;
}
ul.page-list li.page_item.current_page_item a {
    color: #a2610d;
}

ul.subpages-page-list {
    overflow: auto; /* similar to clearing the floats... */
    padding: 5px 0 0 5px;	
}
ul.subpages-page-list li {
	float: left;
	margin: 0 0 0 5px;
}

ul.children {
    overflow: auto; /* similar to clearing the floats... */
    border: 1px solid gray;
}
ul.children li {
    float: left;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;
}

.before_scrolls {
	height: 100%;
	min-height: 500px;
	max-height: 600px; 
	margin-bottom: 300px;
}

.divscrolls {
	height: inherit;
	width: inherit; /* ширина нашего блока */
	background: #fff; /* цвет фона, белый */
	border: 1px solid #C1C1C1; /* размер и цвет границы блока */
	overflow-x: scroll; /* прокрутка по горизонтали */
	overflow-y: scroll; /* прокрутка по вертикали */
}
