body {
  margin: 1rem 3rem;
}

#form {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#citation {
  border-radius: 0;
  border: 1px solid;
}

#citation:focus {
  background-color: palegoldenrod;
  outline: none;
}

.go-button {
  border-radius: 0;
  border: 1px solid;
  border-left: 0px;
}

.home-button {
  border: none;
  background: none;
  margin-left: 5px;
}

.home-button svg {
  margin-top: 3px;
}

p {
  margin-bottom: 1.5rem;
}

p.sc-link {
  text-align: center;
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}

span.pli-lang,
span.eng-lang {
  display: block;
}

p span.pli-lang {
  color: gray;
  font-family: sans-serif;
  font-size: 1rem;
}

p span.pli-lang,
h1 span.pli-lang,
h2 span.pli-lang,
h3 span.pli-lang,
h4 span.pli-lang,
h5 span.pli-lang {
  color: #5a5a5a;
  font-family: sans-serif;
}

.button-area {
  position: fixed;
  right: 10px;
  top: 10px;
  /* text-align: center; */
}

#sutta.hide-pali p span.pli-lang,
#sutta.hide-pali h1 span.pli-lang,
#sutta.hide-pali h2 span.pli-lang,
#sutta.hide-pali h3 span.pli-lang,
#sutta.hide-pali h4 span.pli-lang,
#sutta.hide-pali li span.pli-lang {
  display: none !important;
}

#sutta.hide-pali p span.eng-lang {
  display: inline !important;
}

#sutta.hide-pali p {
  margin: 0px 0px 0.8rem 0rem;
}

#sutta.hide-pali blockquote.gatha p span.verse-line span.eng-lang {
  display: block !important;
  margin-bottom: 0rem;
}

span.eng-lang {
  margin-bottom: 0.4rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center;
  color: #5a5a5a;
}

@media only screen and (max-width: 975px) {
  body {
    margin: 1rem 0.5rem;
  }
  .button-area {
    right: 1px;
    top: 1px;
  }
}

br {
  line-height: 0px;
}

.links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.links-area a {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
  filter: opacity(40%);
}
.links-area a:hover {
  top: -3px;
  filter: opacity(100%);
}
