/*------------
 Embed Font
------------*/

@font-face {
    font-family: "Aldus nova Pro";
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/AldusNovaPro-Book.woff);
}

@font-face {
    font-family: "Aldus nova Pro";
    font-weight: normal;
    font-style: italic;
    src: url(../../fonts/bookfonts/AldusNovaPro-BookItalic.woff);
}

@font-face {
    font-family: "Aldus nova Pro";
    font-weight: bold;
    font-style: normal;
    src: url(../../fonts/bookfonts/AldusNovaPro-Bold.woff);
}

@font-face {
    font-family: "TheSans 4-SemiLight Caps";
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/TheSans-SemiLightCaps.woff);
}

/*------------
 Layout
------------*/

body {
    font-family: "Aldus nova Pro", serif /* overrides ../../css/treatises.css:111 */;
}

/*------------
 Headings
------------*/

h1 {
    margin: 0 /*topmargin*/ 4% 0 4% /* overrides ../../css/treatises.css:434 */;
    font-size: 1.5em /* overrides ../../css/treatises.css:387 */;
    line-height: 1.6em /* overrides ../../css/treatises.css:427 */;
    font-family: "Aldus nova Pro", serif;
}

p.chapterheading {
    font-family: "TheSans 4-SemiLight Caps", sans-serif;
}

h2 {
    font-family: "TheSans 4-SemiLight Caps", sans-serif;
}

h4 {
    font-family: "TheSans 4-SemiLight Caps", sans-serif;
}

#titlepage h2 {
    font-size: 2.4em /* overrides ../../css/treatises.css:528 */;
    font-family: "Aldus nova Pro", serif;
    line-height: 1.2em;
}

#titlepage h4 {
    margin: 12% 0 0 0 /* overrides ../../css/treatises.css:722 */;
    font-family: "Aldus nova Pro", serif;
}

/*------------
Copyright Page
------------*/

#copyright h2 {
    font-family: "TheSans 4-SemiLight Caps", sans-serif;
}

/*------------
 Paragraphs
------------*/

.address {
    font-family: "TheSans 4-SemiLight Caps", sans-serif;
}
