@charset "UTF-8";
/* Commentaires et règles de style peuvent contenir des caractères non ASCII. */

html, body {
height:100%;
margin:.5cm;
padding:0;
background-color:#fff;
font:12pt georgia,times,serif;
text-align:justify;
color:#000;
}

p {
font-size:12pt;
margin-bottom:8pt;
}

.ptt p, .pttd p, .pttn p, .pttj p, .ptt ol, .ptt ul {
margin:4pt 0;
font:10pt "trebuchet ms",times,serif;
text-align:left;
line-height:10pt;
}

.pttn p {
color:#000;
}

.ptt p {
color:#888;
}

.pi, .pit {
color:#000;
font:110% "trebuchet ms";
font-style:italic;
}

.ima {
margin:1em;
}

.imag, .imad {
position:relative;
margin:0 1em .5em;
}

.imag {
float:left;
}

.imad {
float:right;
}

.miniban  {
height:15px;
width:80px;
}

acronym {
border:none;
}

acronym[title]:after {
content:" (" attr(title) ") ";
font-style:italic;
}

a {color:#999; text-decoration:underline;}
a.i {color:#000; text-decoration:none}
a.s {color:#000; text-decoration:none; font-weight:bold;}
a#dd {color:#bbb; text-decoration:none;}

#dd {
position:relative;
z-index:9;
float:right;
font-family:"trebuchet ms",geneva,arial,sans-serif;
font-size:.7em;
}

#tete {
width:100%;
height:41px;
background:url(../im/ddorgnb.gif) no-repeat center;
}

#logo, #ddorg, #aa1, #aa2, #aa3, #aa4, #aa5, #aa6, #menui, #menua, #menub, #menud, #menus, #menuv, #menul, #menum, #menun, #md, #rc0, .bloc, .haut, #choix, .navtb, #pied, #d32n, .d16n, .frgd, #kut img, #aa0, .nocss,
#nava, #navr, #navd, #navp, #navt, #navs, #navd,
.navacc, .navtop, .navbas, .navpre, .navsui, .navaid, .navrec,
.navtb-t, .navtb-b, .imab {
display:none;
}

#ici {
position:absolute;
width:95%;
top:1mm;
font:8pt geneva,arial,sans-serif;
text-align:right;
}

.nb li {
margin-top:5mm;
}

.l-alpha {
list-style-type:lower-alpha;
}

.u-alpha {
list-style-type:upper-alpha;
}

#gauche {
float:none;
width:100%;
}

#centre {
float:none;
width:100%;
}

#droit {
float:none;
width:100%;
}

.cont, .contp {
float:none;
margin:.7cm;
}

.fl {
float:left;
}

.fr {
text-align:right;
margin:6pt;
}

.gdrfr, .gdren, .gdrmy, a.gdrfr, a.gdren, a.gdrmy {
display:block;
border:0;
width:30px;
height:20px;
margin-left:12pt;
background-repeat:no-repeat;
}

a.gdrfr {background-image:url(https://en.dhammadana.org/im/flagfrgn.gif);}

a.gdren {background-image:url(https://en.dhammadana.org/im/flagengn.gif);}

a.gdrmy {background-image:url(https://en.dhammadana.org/im/flagmygn.gif);}

#pied {
float:left;
position:relative;
bottom:0;
width:100%;
text-align:center;
}

h2, h3, h4 {
font:110% "trebuchet ms";
font-weight:bold;
text-align:left;
}

.h0, h1 {
font:110% "trebuchet ms";
font-weight:bold;
text-align:center;
}

.h0 {
font-size:12pt;
font-weight:bold;
border-style:solid;
border-color:#aaa;
border-width:1pt;
}

h1 {
font-size:18pt;
margin-top:0;
border:0 solid #e3d9cf;
border-bottom-width:.3pt;
background:url(../im/de3.jpg) repeat-y;
}

h2 {
font-size:16pt;
letter-spacing:-.02em;
border:0 solid #e3d9cf;
border-bottom-width:1.5pt;
}

h3 {
font-size:14pt;
}

h4 {
font-size:12pt;
}

h5 {
font-size:10pt;
margin:0;
margin-top:20pt;
text-align:center;
}

ul, ol {
text-align:left;
}

.it {
font-style:italic;
margin-bottom:-4pt;
font-size:10pt;
}

.itph {
font-style:italic;
color:#555;
font-size:80%;
line-height:1em;
}

.rem {
font-weight:bold;
}

.ret {
margin-left:20pt;
margin-right:20pt;
}

.tab {
text-indent:24pt;
}

.gris {
color:#bbb;
font-weight:normal;
}

.cen {
text-align:center;
}

.liste, .lpp {
text-align:left;
}

.antipuces li {
list-style-image:url(../im/z/ici.png);
margin-top:.3em;
font-weight:bold;
color:#987;
}

.antipuces li li {
font-weight:normal;
color:#000;
}

.antipuces li ul li ul {
font-size:.8em;
}

.antipuces a {text-decoration:none;}

.lfl, .lfl2 {
list-style-image:url(../im/pucef.gif);
}

.lfl li,.lfl2 li {
margin-top:.8em;
}

.lfl2 li {
margin-left:-1.5em;
}

.treb {
font-family:"trebuchet ms",geneva,arial,sans-serif;
}

.livre {
position:relative;
float:left;
width:104px;
height:141px;
margin:10px;
background-image:url(../im/104x141.png);
}

.livre img {
margin-top:2px;
margin-left:2px;
width:92px;
height:129px;
}

img {
border:0;
}

dl.ddd {
width:80%;
margin:2em;
padding:0;
}

.ddd dt, .ddd dd {
border:1px solid #cba;
padding:.5em;
margin:0;
}

.ddd dt {
font:bold .9em geneva,arial,sans-serif;
text-align:center;
margin:2em 0 0;
}

table {
background-color:#fff;
border-collapse:collapse;
}

td, th {
padding:.2em;
border:1px solid #000;
}

th {
text-align:center;
}

table caption {
font-weight:bold;
font-size:95%;
line-height:2.5em;
}

tfoot td {
text-align:center;
font-weight:bold;
}

.dis {
margin-top:1.5em;
border:0;
width:80%;
height:1pt;
}

.def {
font-weight:bold;
}

#moine {
padding-top:1em;
}

a#ddfr {
position:relative;
float:right;
top:-30px;
display:block;
background-image:url(../im/ddfr.gif);
background-repeat:no-repeat;
width:125px;
height:68px;
}
#etr {margin-right:8.5em; margin-left:1.5em;}

.bulle, .ma {
display:none;
}

.plus {
border:#000 dotted 1px;
margin:.7em 0;
padding:.3em;
color:#333;
}

.ita {font-style:italic;}

.cicoepidli {
position:absolute;
font:bold .7em geneva,arial,sans-serif;
text-indent:15px;
color:#aaa;
font-style:normal;
}

.ast {
font:1.8em century,georgia,times new roman;
vertical-align:sub;
}

.vers {
font-style:italic;
margin:2em 4em;
font-family:geneva,arial,sans-serif;
}

.resu {
color:#555;
margin:2em;
font:.9em geneva,arial,sans-serif;
}

.minihr {
margin-top:1.3em;
margin-bottom:1.3em;
border:2px #ccc solid;
width:77px;
height:0;
}