.mainbutton {
  /*position: absolute; 
  right :35px; */
  z-index:9999;
}

.searchbar {
  z-index:1;
}
::-webkit-scrollbar {
width: 16px;
height: 16px; }

::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07); }

	 .ui-autocomplete { 
max-height: 220px; 
min-height: 38px;
overflow-y: auto; 
overflow-x: hidden;
scrollbar-color: #10806A #10806A;
border-radius: 1rem;
max-width: 274pxalign-items: center;
}

.roundedborder{
  position: absolute; 
  right :35px; 
  z-index:999999;
}

.outlink {
  color:#0d6efd;
}

/* Container holding the image and the text */
.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 15px;
  left: 15px;
  
}


.btn-primary {
  color: #fff;
  background-color: #16a085;
  border-color: #1abc9c;
}

	.form-check-input:active {
  filter: brightness(40%);
}

.form-check-input:focus {
  border-color: #8ddece;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, 0.25);
}

.form-check-input:checked {
  background-color: #16a085;
  border-color: #1abc9c;
  
}


#mainNav .navbar-nav {
    margin-top: 0;
    text-align: center;
}
 
.page-section {
    padding: 2rem 0;!important
}

.masthead { 
	padding-bottom: 2rem;
	}

 @keyframes wheelHueColor {
    from, to { color: rgb(255,255,255); } 
    10%      { color: rgb(0,0,255); }
    35%      { color: rgb(255,255,0); }
    70%      { color: rgb(255,0,0); }
    90%      { color: rgb(255,255,255); }
}

.example:hover {
    color: rgb(255,255,255);
    animation: wheelHueColor 40s infinite;
    cursor: pointer;
    
}
.example {
  transition: 4s;
  transition: background-color 4s ease-out;
}
  
.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}

.lock:hover .icon-lock .bigger {
   font-size: 200px;
}

.storeimg {
  width: 200px;
}

@media only screen and (max-width: 900px) {

#mainNav .navbar-toggler {
    margin-right: 2rem;  
}


#mainNav .navbar-nav {
	margin-top: 1.5rem;
	text-align: left;	
	}


.h5mobile {
	font-size: 0.8rem;	
}

    .masthead { 
    padding-top: calc(1rem + 20px);
	}
	
.masthead .masthead-heading
 {
	 font-size: 2rem ; 
}

.divider-custom {
    margin: 0.5rem 0 1.2rem ;
}



.divider-custom {
    margin: 0.5rem 0 1.2rem ;
}

  
  .mobile-none {
	  display:none;	  
  }

.mobile-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


.sidebar-social {
    margin: 0;
    padding: 0;
}

.sidebar-social ul {
    margin: 0;
    padding: 5px;
}

.sidebar-social li {
	  text-align: center;
    width: 31.9%;
    margin-bottom: 3px!important;
    background-color: #fff;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 10px;
    padding:0;
}

.sidebar-social i {
  display: block;
  margin: 0 auto 10px auto;
	width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
}
.sidebar-social a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.sidebar-social a span{
  color:black;
  font-size:10px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}

}