       body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f4f4f9;
            color: #333;
        }
        h1 {
            color: #555;
        }
        ol {
            padding-left: 20px;
        }
        li {
            margin-bottom: 10px;
        }