

    /* Стили для обычного текста */
    .pli-lang {
      cursor: text; 
      color: inherit; 
    }

    /* Стили для popup */
    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      background: white;
      border: 2px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
      display: none;
    }

    .popup iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #CE0520;
  color: #e1dede;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 100%; /* делает кнопку круглой */
}

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
      display: none;
    }

.common-size-icon4 {
  height: 25px; 
  width: 22px;
}

.dictIcon {
height:15px; 
width:15px;
}
