

    /* Стили для обычного текста */
    .pli-lang {
      cursor: text; 
      color: inherit; 
    }

    /* Стили для popup */
    .popup {
   /*    
   position: fixed;
top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      */
background: white; 
      border: 2px solid #666;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 100000;
      display: none;
    }

/* Темный режим для popup */
.popup.dark {
  background: black; /* Черный фон для темного режима */
  color: #fff3d6;      /* Белый текст */
  border-color: #666; /* Более темная рамка */
}

.popup iframe {
  background: #fff3d6;
  color: #000;
}

[data-theme="dark"] .popup iframe {
  background: black;
  color: #fff3d6;
}

.popup.dark iframe {
  background: black;
  color: #fff3d6;
}

.popup iframe {
      width: 100%;
      height: 100%;
      border: none;
            z-index: 10000;
    }

.popup-header {
  background = 'white';
}
  
.popup-header.dark {
  background = black;
}  
  
[data-theme="dark"] .popup-header {
  background: black;
}

.popupSandalone {
  background: #fff3d6;
color: #000;
}

[data-theme="dark"] .popupSandalone {
  background: black;
  color: #fff3d6;
}

.popupSandalone.dark {
  background: black;
  color: #fff3d6;
}


.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #CE0520;
  color: #e1dede;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 100%; /* делает кнопку круглой */
}

.overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
      display: none;
    }

.common-size-icon4 {
  height: 25px; 
  width: 22px;
}

.dictIcon {
height:15px; 
width:15px;
}

.dictIcon-sitePages {
height: 35px; 
width: 35px;
}


/* Базовый стиль для иконки */
.toggle-dict-btn img {
  width: 24px;
  height: 24px;
}

/* Для конкретного контейнера */
.container-fluid .toggle-dict-btn img {
  width: 20px;
  height: 20px;
}

/* Использование атрибута */
img[data-size="small"] {
  width: 16px;
  height: 16px;
}

img[data-size="large"] {
  width: 48px;
  height: 48px;
}


/*$
<button class="btn btn-light mb-1 toggle-dict-btn" type="button">
  <img src="/assets/svg/comment.svg" data-size="small">
</button>

<button class="btn btn-light mb-1 toggle-dict-btn" type="button">
  <img src="/assets/svg/comment.svg" data-size="large">
</button>

*/


