:root,
[data-bs-theme=light] {
--highligh-td-b: #912a07;
--bs-btn-color: #000;
--bs-btn-bg: #fff;
--bs-btn-text: #000;
}
 
[data-bs-theme=dark] {
--highligh-td-b: #da420e;
--bs-btn-color-dark: #fff;
--bs-btn-bg-dark: #000;
--bs-btn-text-dark: #fff;
}

* {
      font-family: sans-serif;
    }

/* Применение к кнопкам */
.btn-light {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
}

/* Применение к кнопкам в темной теме */
[data-bs-theme=dark] .btn-light {
  color: var(--bs-btn-color-dark);
  background-color: var(--bs-btn-bg-dark);
  
}

button a {
  color: var(--bs-btn-text); /* По умолчанию для темной темы */
}

/* Применение к тексту внутри кнопок в светлой теме */
[data-bs-theme=dark] button a {
  color: var(--bs-btn-text-dark);
}

a {
	--bs-link-color: #0000EE;
    --bs-link-hover-color: #912a07;
}


.div light {
  color: #8f8f8f;
}

.light div {
  color: #8f8f8f;
}
/*
table {
	table-layout: fixed; 
	width: 100%
}
*/
.wordwrap {
    word-wrap:break-word;
    vertical-align: top;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
 
color: inherit !important;  /* Или color:  */

}

tbody td:first-child,  
tbody td:nth-child(3) {  
  word-break: break-word;  
  overflow-wrap: break-word;  
}
 /*   table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    content:'+';
    background-color:#16A085
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color:#054a99

}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    content:'-';
    background-color:#912a07
}*/


/* #2C3E50*/
freebutton {
text-align: left;
}
    
    .quote {
    color=#6A6969;
    }
 

b {
    color: var(--highligh-td-b);
}

    
     br {
            display: block; 
            content: ""; 
            margin-top: 8;
    }

    .skip {
      display: none;
    }

    .styled {
      content: "";
      display: block;
      height: 0.8em;
    }
    .btwntrn {
        content: "";
      display: block;
      height: 0.5em;
      
    }
	/* p {
	     color: #6A6969;
	   
	 } */

/* Медиа-запрос для экранов шириной 992px и менее */
@media (max-width: 992px) {
    body {
    margin-left: 3px;
    margin-right: 3px;
}

.container-fluid {
    padding-left: 3px;
    padding-right: 3px;
}

}
