
    .level1 {
      margin-left: 0px;
      color: #3F424B;
    }

    .level2 {
      margin-left: 8px;
     color: #3F424B;
    }

    .level3 {
      margin-left: 13px;
      color: #3F424B;
    }

    .level4 {
      margin-left: 18px;
      color: #3F424B;
    }

    .level5 {
      margin-left: 20px;
    }
	
	.btn-fixed-width {
  width: 30px; /* Замените на желаемую фиксированную ширину */
}

  .btn-rotate {
    transition: transform 0.3s ease;
  }

  .btn-rotate.rotate {
    transform: rotate(180deg);
  }