body {
	margin-left:2%;
	margin-right:2%;
	font-family: Verdana, Arial, sans-serif;
}

table.tPaliSourceClass{
	/*font-family: CharisSILW;
	font-size:115%;*/
}

table.tPaliSourceClass{
	/*font-family: CharisSILW;
	font-size:115%;*/
}

td.tdPaliSource{
	font-family: CharisSILW;
	font-size:110%;
	border: medium none;
	padding: 0cm;
	width="50%";
	text-align:justify;
}

td.tdPaliSource p{margin-left: 0.7em;}

/* расстояние между строками в таблице tPaliSourceClass в колонке tdPaliSource с палийским источником */
td.tdPaliSource p{
	line-height: 1.3;
	letter-spacing: 0.04em;
}

p.pPaliSource{
	line-height: 1.3;
	letter-spacing: 0.04em;
	font-family: CharisSILW;
	font-size:110%;
}

@keyframes kfHighLight {
	0% {background-color: #e6fff2;}
	50% {background-color: #00ff7b;}
	100% {background-color: #e6fff2;}
}

span.hlAnimatedClass{
	border-radius: 5px 5px 5px 5px;
	animation-name: kfHighLight;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

div.divNaviPaneMainClass{
	position:fixed;
	left:0;
	right:0;
	width:15%;
	top:2%;
	margin:auto;
}

td.tdNaviPaneButtonClass{
	border-style:solid;
	text-align: center;
	border-color:ForestGreen;
	color: DarkGreen;
	border-radius: 5px 5px 5px 5px;
	user-select:none;
}

td.tdNaviPaneButtonClass:hover{
	cursor: hand;
}

td.tdNaviPaneInfoClass{
	border-style:solid;
	text-align: center;
	color: DarkGreen;
	border-color:ForestGreen;
	width:50%;
}

/* --------- hyperlinks -------- */
a:link {
color : #0000ff;
text-decoration : none;
}
a:visited {
color : #800080;
text-decoration : none;
}
a:hover {
color : green;
text-decoration : underline;
}
a:active {
color : #000080;
text-decoration : underline;
}
a.audio {
	background:url('img/al.png') 0 0 no-repeat;
	position:relative;
	padding-left:20px;
}
a.back {
	background:url('img/upl.png') 0 0 no-repeat;
	position:relative;
	top:-2px;
	padding-left:16px;
}
a.external {
	background:url('img/el.png') 100% 0% no-repeat;
	position:relative;
	padding-right:20px;
}
a.forum {
	background:url('img/fl.png') 0 0 no-repeat;
	position:relative;
	padding-left:20px;
}
a.video {
	background:url('img/vl.png') 0 0 no-repeat;
	position:relative;
	padding-left:20px;
}
a.nav {
text-decoration: none;
font-weight:bold;
}

hr {border:1px solid #395AB9;}

H1 {
font-size: 180%;
text-align : center;
color : #006540;
font-weight : normal;
letter-spacing : 0.1em;
}

H2 {
font-size: 160%;
text-align : center;
color : #006540;
font-weight : normal;
letter-spacing : 0.1em;
}

h3 {
	font-size:140%;
        text-align : center;
	margin-bottom:0em;
}

p + h3 {margin-top:2em;} /*big space between p and the following h3*/
dl + h3 {margin-top:2em;} /*big space between dl and the following h3 ("A Happy Married Life")*/
h3 + p {margin-top:1em;} /*normal space between h3 and the following p*/

h4 {
	font-size:120%;
        text-align : center;
	margin-bottom:0em;
}

div+h4 {margin-top:2em;} /*big space between div and the following h4*/
p+h4 {margin-top:2em;} /*big space between p and the following h4*/
h4+p {margin-top:0em;} /*small space between h4 and the following p*/
h4+ul {margin-top:0em;} /* keep list close to preceding h4 (samyutta/index.html)*/
h4+div {margin-top:1em;}

/********** h5, h6 **********/
h5,h6 {
	font-size:110%;
        text-align : center;
	margin-bottom:0em;
}
div + h5 {margin-top:2em;} /*big space between div and the following h5*/
p + h5 {margin-top:2em;} /*big space between p and the following h5*/
h5 + p {margin-top:0em;} /*small space between h5 and the following p*/
div + h6 {margin-top:2em;} /*big space between div and the following h6*/
p + h6 {margin-top:2em;} /*big space between p and the following h6*/
h6 + p {margin-top:0em;} /*small space between h6 and the following p*/

BIG {
font-weight : bold;
font-size: 150%;
}

SMALL {
font-size: 80%;
}
.LargeTopic {
FONT-WEIGHT: bold; FONT-SIZE: 16pt; TEXT-ALIGN: center
}
.SmallTopic {
FONT-STYLE: italic; FONT-SIZE: 12pt
}
.SutraCitation {
}
.NumberedList {
FONT-STYLE: italic; LIST-STYLE-TYPE: none; POSITION: relative
}
.Question {
FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.AnswerBody {
MARGIN-LEFT: 20px; TEXT-ALIGN: Justify
}
.BulletedList {
}

div.preface {
	margin: 0 2em 0 2em;
        text-align: justify;
	font-size:90%;
	border-bottom:1px solid #eee;
}

div.chapter {
	margin-top:3em;
        text-align: justify;
	padding-bottom:2em;
	border-bottom:1px solid #888;
}

div.chapter1 {
	margin-top:3em;
        text-align: justify;
	padding-bottom:2em;
}

div.notes {
	margin: 3em 20px 2em 20px;
        text-align: justify;
}

div.excerpt {
	margin:1em 2em 2em 2em;
}

div.alphalist {
	font-size:100%;
	margin:3em 0 3em 0;
	padding:1em 0 1em 2em;
	text-align:center;
	border:1px solid #ccc;
	background:#f5f5f5;
}

div.seeAlso {
	margin:3em 2em 1em 0em;
}

div.H_seeAlso {
		padding-top:1em;
		font-size:100%;
		text-align:center;
}

div.F_footer {
	width:100%;
	clear:both;
	margin:0 auto;
	font-size:75%;
	line-height: 140%;
}

div.F_colophon {
	border:1px solid #ddd;
	margin:20px;
	padding:10px;
	background-color:#efefef;
	text-align: justify;
}

div.F_citation,
div.F_provenance,
div.F_termsOfUse {
	margin-bottom: .4em;
}

div.freeverse {
	margin-left:5%;
	margin-right:5%;
	white-space:pre;
	padding:0;
	margin-bottom:0;
}

.noteTag {
	/*vertical-align:super; this wrecks the line spacing.*/
	/*padding-left:1px;*/
	font-size:9pt; /*absolute size, so they look OK inside <h1>, etc.*/
}

P {
direction: ltr;
text-indent : 20px;
margin-top: 3px;
margin-bottom: 3px;
line-height: 15pt;
}
.nav {
margin-left:10px;
}
.NormalText {
text-align:justify;
text-indent:1cm;
margin-top: 3px;
margin-bottom: 3px;
line-height: 15pt;
}
.title {
font-size : 300%;
letter-spacing : 6px;
text-align : center;
}
.contents {
line-height : 150%;
letter-spacing : 2px;
}
.right {
text-align : right;
}
.left {
margin-left : 0;
text-indent : 0;
text-align : left;
}
.stih {
margin : 2em;
text-indent : 0;
}
.abbr {
margin-left : 0;
text-indent : 0;
font-style : italic;
text-align : left;
}
.comment {
margin : 3em;
text-indent : 0;
font-style : italic;
text-align : justify;
}
.cite {
	text-align:left;
	margin-left:20%;
	margin-bottom:1em;
}

dl.faq dt {}
dl.faq dl dt {
	font-weight:normal;
}

dl.faq dd {
	padding-bottom:1em;
	margin-bottom:2em;
	border-bottom:1px solid #ddd;
}
dl.faq dl dd {
	border-bottom:none;
}

ul {
margin-right:1em;
list-style: none;
text-align: justify;
text-indent: 5pt;
margin-top: 3px;
margin-bottom: 3px;
line-height: 15pt;
}

li	{margin-bottom:0.5em; margin-right:1em;}
dl	{margin: 1.33em 0 1.33em 0;}
dt	{margin-top:1em; text-indent:20px; text-align:justify;}
dd	{margin: 0 0 1em 1.33em;}
em	{font-style:italic;}
sup {vertical-align: super; font-size:80%;}
table {border-spacing: 2px;}
blockquote {margin: 1.12em 20px 1.12em 20px;}

ol	{margin-left:2em; list-style-type:decimal;}
ol ol {list-style-type:upper-alpha;}
ol ol ol {list-style-type:lower-roman;}
ol ol ol ol {list-style-type:lower-alpha;}

/* naughty non-semantic cruftitudes */
ol.nonSemantic-listA {list-style-type:upper-alpha;}
ol.nonSemantic-listi {list-style-type:lower-roman;}
ol.nonSemantic-listI {list-style-type:upper-roman;}
ol.nonSemantic-list1 {list-style-type:decimal;}

/******* Definition lists galore *******/
dl.index,
dl.gindex, 			/* e.g., in General index */
dl.indexInline, 	/* e.g., in Names index */
dl.suttaList,		/* e.g., in sn/index.html */
dl.abbrevList,		/* e.g., in abbrev.html */
dl.glossary,		/* e.g., in glossary.html */
dl.bookList,		/* e.g., in an author's index.html */
div.notes dl		/* e.g., in footnotes */
{
/*	font-size:11.5px;*/
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
}
dl.biblio,
dl.biblioA /* (author first) */
	{
/*	font-size:14.4px;*/
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
}
dl.index dt,
dl.gindex dt {
	font-weight:bold;
	margin: 1em 0 0 1em;
}
dl.gindex dt {
	font-weight:normal;
}
dl.index dd,
dl.gindex dd {
	margin-left:2em;
	margin-bottom:0;
	padding-left:2em;
	text-indent:-1em;/* for hanging indent */
}


dl.indexInline,
dl.suttaList,
dl.abbrevList,
dl.glossary,
dl.biblio,
dl.biblioA,
dl.contact,
div.notes dl,
dl.bookList {
	padding-left:2em;/* for hanging indent */
}

dl.indexInline dt,
dl.glossary dt,
dl.biblio dt,
dl.biblioA dt,
dl.suttaList dt,
dl.abbrevList dt,
div.notes dl dt {
	font-weight:normal;
	float:left;
	margin-top: 0;
	margin-left:-1em;/* for hanging indent */
	margin-right:0.3em; /*space between the following <dd>*/
}

dl.contact dt,
dl.bookList dt {
	font-weight:normal;
	margin-top: 0;
	margin-left:-1em;/* for hanging indent */
	margin-right:0.3em; /*space between the following <dd>*/
}
dl.bookList dt {
	font-weight:bold;
}
dl.bookList dd {
	margin:0 0 1.12em 0;
}
dl.glossary dt {
}
dl.biblio dt {
	font-style:italic;
}
dl.biblioA dt {
	font-style:normal;
}

dl.indexInline dd,
dl.glossary dd,
dl.biblio dd,
dl.biblioA dd,
div.notes dl dd
{
	margin:0 0 .3em 0;
	padding-left:0;
	text-indent:0;
}
dl.abbrevList dd {
	margin-bottom:.5em;
}


.availability {
	margin-left:2em;
	margin-right:2em;
	font-size:90%;
}

ul.faviconLinks {
	list-style: none;
}
ul.faviconLinks li {
	text-indent:0px;/* for hanging indent */
}
ul.faviconLinks li:first-line {
	margin-left:0px;
}
ul.faviconLinks div {
	width:16px;
	height:16px;
	float:left;
	border:1px dotted #ccc;
}

dl.index ul,
dl.gindex ul {
	list-style-type:disc;
	list-style-position: inside;
	margin-left:2em;
}

dd > p { /* <p> should be inline with the <dd>*/
	margin-top:0;
}


dl.faq dt {}
dl.faq dl dt {
	font-weight:normal;
}

dl.faq dd {
	padding-bottom:1em;
	margin-bottom:2em;
	border-bottom:1px solid #ddd;
}
dl.faq dl dd {
	border-bottom:none;
}



/* used, e.g., in the Sutta index */
ul.index {
	list-style-type:none;
	list-style-image:none;
	padding: 0 0 1em 1em;
	margin: 0 0 1em 0;
	}

ul.index li {
	text-indent:-1em;/* for hanging indent */
}

dl.suttaList p,
dl.abbrevList p
{
	display:inline;
}

.suttaRef {	/* the reference (e.g., "{SN 1.2}"*/
	font-size:10pt;
	color: #888;
}
.suttaTrans {	/* the translator*/
	font-size:10pt;
	font-weight:normal;
}

.lifespan {	/* (1956 -   ) */
	font-size:9pt;
}


/* 	hlist: horizontal list
	crumblist: breadcrumb list
*/
ul.crumblist,
ul.hlist  {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}
ul.crumblist li,
ul.hlist li {
	margin-left: 0;
	margin-right: 3px;
	padding-left: 0;
	border: none;
	list-style: none;
	display: inline;
}

ul.crumblist li:before {
	content: " \00bb  ";
	color:#ccc;
}
ul.hlist  li:before {
   margin-left: -3px;
	content: " | ";
	color:#ccc;
}
ul.hlist  li.first:before,
ul.crumblist  li.first:before {
	content: "";
}

/* added - Vladivostok 2011.12 */
span.termOrigin{
	letter-spacing:3px;
}
