@charset "UTF-8";
/* Commentaires et règles de style peuvent contenir des caractères non ASCII. */

html, body {
height:100%;
margin:0;
padding:0;
background:#dce;
background-position:0;
font:100% "trebuchet ms",geneva,arial,sans-serif;
text-align:justify;
color:#000;
}

#pttout {
width:100%;
margin:0 auto; 
}

#gdtout {
min-height:100%; 
width:100%; 
position:relative; 
}

.nocss {
display:none;
}

p {
font-size:1em;
margin-bottom:0;
margin-top:.7em;
}

.ptt p, .pttd p, .pttn p, .pttj p, .ptt ol, .ptt ul {
margin:.3em 0;
font:.9em "trebuchet ms",geneva,arial,sans-serif;
text-align:left;
}

.pttn p {
color:#000;
}

.ptt p, .pet {
color:#987;
}

.pet {font-size:.8em;}

img {
border:0;
}

.ima {
margin:1em;
}

.imag, .imad, .imab {
position:relative;
margin:0 1em .5em;
}

.imag {
float:left;
}

.imad, .imab {
float:right;
}

.imab {
width:250px;
height:300px;
}

.miniban  {
height:15px;
width:80px;
}

.pi, .pit {
color:#756;
}

.pit, .dur {
cursor:help;
border-bottom:1px dotted;
}

a:link {color:#549;}
a:visited {color:#99c;}
a:active {color:#f00;}
a:hover {color:#557; background:#dce;}

a.i:link {color:#000}
a.i:visited {color:#446;}
a.i:active {color:#f00}
a.i:hover {color:#000; background:#feeeb3; text-decoration:none;}

a.s:link {color:#549; text-decoration:none;}
a.s:visited {color:#99c; text-decoration:none;}
a.s:active {color:#f00; text-decoration:none;}
a.s:hover {color:#549; text-decoration:none;}

.cont a{text-decoration:none;}

#dd {
float:right;
font:80% "trebuchet ms",geneva,arial,sans-serif;
margin:2em 0 0;
}

#tete, #tete-it, #tete-en {
width:100%;
height:270px;
background-color:#f00;
background:url(../im/z/nuages.png) no-repeat;
margin-bottom:-160px;
}

#tete-it {background:url(../im/z/nuages-it.png) no-repeat;}
#tete-en {background:url(../im/z/nuages-en.png) no-repeat;}

a#logo {
background:url(../im/z/logo110.png) no-repeat;
position:fixed;
display:block;
z-index:3;
width:110px;
height:110px;
margin-top:6px;
margin-left:17px;
}

#aa1 {width:23px; right:220px; background:url(../im/z/aaaide.png) no-repeat;}
#aa2 {width:30px; right:180px; background:url(../im/z/aaaccess.png) no-repeat;}
#aa3 {width:32px; right:140px; background:url(../im/z/aarecher.png) no-repeat;}
#aa4 {width:32px; right:100px; background:url(../im/z/aalivres.png) no-repeat;}
#aa5 {width:31px; right:60px; background:url(../im/z/aapali.png) no-repeat;}
#aa6 {width:35px; right:15px; background:url(../im/z/aaemail.png) no-repeat;}

#aa1, #aa2, #aa3, #aa4, #aa5, #aa6 {
position:absolute;
top:0;
margin-top:40px;
}

#aa1 {
height:31px;
}

#aa2 {
height:33px;
}

#aa3, #aa5 {
height:32px;
}

#aa4 {
height:35px;
}

#aa6 {
height:34px;
}

#aa1 em, #aa2 em, #aa3 em, #aa4 em, #aa5 em, #aa6 em {
display:none;
}

#ici {
position:absolute;
z-index:2;
width:100%;
top:77px;
font:.9em geneva,arial,sans-serif;
text-align:left;
text-indent:132px;
background:url(../im/z/ici.png);
}

#menui, #menua, #menub, #menud, #menus, #menuv, #menuc, #menum {
position:relative;
z-index:99;
float:left;
top:14px;
margin-top:-1em;
margin-bottom:1em;
font:1.4em "arial narrow","trebuchet ms",geneva,arial,sans-serif;
width:100%;
}

#md, #md ul {
list-style:none;
line-height:.8em;
border-right-width:4px;
margin:0;
padding:0;
width:5em;
}

#md a {
display:block;
color:#000;
text-decoration:none;
background:none;
padding:0.25em;
width:5em;
}

#md a.papa {
background:url(../im/z/menuf.png) right no-repeat;
}

#md li {
padding:0;
margin:0;
width:5.4em;
font-size:90%;
border:#fff none 1px;
}

#md li ul {
position:absolute;
left:-999em;
height:auto;
width:8.05em;
font-weight:normal;
margin:-1.5em 4.9em;
background-image:url(../im/z/2x2.png);
border:#cacac8 solid 1px;
}

#md li li {
padding-right:1em;
width:8em;
text-align:left;
}

#md li ul a {
w\idth:8.4em;
}

#md li ul ul {
margin:-1.6em 0 0 8.3em;
}

#md li:hover ul ul, #md li:hover ul ul ul, #md li.sfhover ul ul, #md li.sfhover ul ul ul {
left:-999em;
}

#md li:hover ul, #md li li:hover ul, #md li li li:hover ul, #md li.sfhover ul, #md li li.sfhover ul, #md li li li.sfhover ul {
left:auto;
}

#md li:hover, #md li.sfhover {
background:#feeeb3;
border:#555 solid 1px;
}

#choix, #choix ul {
position:relative;
float:left;
font:.9em/1em geneva,arial,sans-serif;
list-style:none;
background:#fff;
border:2px inset #630;
margin:.3em .15em;
padding:0;
width:6.5em;
}

#choixf {
background:url(../im/choixf.gif) no-repeat right;
}

#choix a {
display:block;
color:#000;
text-decoration:none;
padding:0.15em;
width:5.95em;
}

#choix li {
padding:0;
width:4.5em;
}

#choix li ul {
position:absolute;
left:-999em;
height:auto;
width:6.9em;
border:solid 2px #630;
margin:0;
}

#choix li li {
padding-right:1em;
width:4.5em;
text-align:left;
}

#choix li ul a {
w\idth:6.7em;
}

#choix li:hover ul, #choix li li:hover ul, #choix li.sfhover ul, #choix li li.sfhover ul {
left:auto;
}

#choix li:hover, #choix li.sfhover {
background:#eee;
}

.liste, .lpp, .antipuces {
text-align:left;
padding-left:2em;
margin-left:0;
margin-top:1em;
}

.liste ul, .lpp ul, .liste ul ul, .lpp ul ul, .antipuces ul, .antipuces ul ul {
padding-left:.7em;
margin-left:.7em;
}

.liste li {
list-style-image:url(../im/puce1.gif);
margin-top:.3em;
}

.liste li li, .antipuces li li {
list-style-image:url(../im/puce2.gif);
}

.liste li li li, .antipuces li li li {
list-style-image:url(../im/puce3.gif);
}

.lpp li {
list-style-image:url(../im/puce3.gif);
padding-top:.1em;
}

.lpp li li {
list-style-image:url(../im/puce4.gif);
}

.antipuces li {
list-style-image:url(../im/z/ici.png);
margin-top:.3em;
font-weight:bold;
color:#987;
}

.antipuces li li {
font-weight:normal;
color:#000;
}

.antipuces li ul li ul {
font-size:.8em;
}

.antipuces a {text-decoration:none;}

.lfl, .lfl2 {
list-style-image:url(../im/pucef.gif);
}

.lfl li,.lfl2 li {
margin-top:1em;
}

.lfl2 li {
margin-left:-1.8em;
}

.nb li {
margin-top:1em;
}

.l-alpha {
list-style-type:lower-alpha;
}

.u-alpha {
list-style-type:upper-alpha;
}

#gauche {
float:left;
width:20%;
height:100%;
padding:.7em;
}

#centre {
float:left;
width:57%;
height:100%;
padding:0 .5em;
}

#droit {
float:right;
width:15%;
height:100%;
padding:0 .7em 0 0;
}

.bloc, .bloci, .case {
font-size:95%;
float:left;
width:100%;
margin-top:1em;
background:#fffae8 url(../im/z/bdg.png) repeat-y;
border:0 solid #887c73;
border-width:1px 2px 2px 1px;
}

.case {margin-right:15px;}

.hautg, .haut {
float:left;
font-size:1px;
}

.hautg {
position:absolute;
margin:-7px -7px;
width:27px;
height:24px;
background-image:url(../im/z/coin.png);
}

.haut {
width:100%;
}

.cont {
margin:0 .2em 1em .8em;
}

.cont p {
line-height:1.2em;
margin-top:.5em;
}

.contp {
margin:0 1em 2em 1.8em;
}

.fl {
float:left;
}

#pied {
float:left;
position:relative;
bottom:0;
width:100%;
text-align:center;
}

a.navacc:hover {background:url(../im/z/navacc-hov.gif);}
a.navrec:hover {background:url(../im/z/navrec-hov.gif);}
a.navaid:hover {background:url(../im/z/navaid-hov.gif);}
a.navbas:hover {background:url(../im/z/navbas-hov.gif);}
a.navire:hover {background:url(../im/z/navire-hov.png);}
a.navtop:hover {background:url(../im/z/navtop-hov.gif);}
a.navpre:hover {background:url(../im/z/navpre-hov.gif);}
a.navsui:hover {background:url(../im/z/navsui-hov.gif);}
a#navd:hover {background:url(../im/z/navacc-hov.gif); background-repeat:no-repeat;}
a#navr:hover {background:url(../im/z/navrec-hov.gif); background-repeat:no-repeat;}
a#nava:hover {background:url(../im/z/navaid-hov.gif); background-repeat:no-repeat;}
a#navp:hover {background:url(../im/z/navpre-hov.gif); background-repeat:no-repeat;}
a#navt:hover {background:url(../im/z/navtop-hov.gif); background-repeat:no-repeat;}
a#navs:hover {background:url(../im/z/navsui-hov.gif); background-repeat:no-repeat;}
a.navtb-t:hover {background:url(../im/z/navtop-hov.gif); background-repeat:no-repeat;}
a.navtb-b:hover {background:url(../im/z/navbas-hov.gif); background-repeat:no-repeat;}

.navacc, .navtop, .navbas, .navire, .navpre, .navsui, .navaid, .navrec {
position:relative;
display:block;
float:right;
width:19px;
height:19px;
bottom:7px;
margin:-3px 18px -4px -11px;
}

.navacc {background:url(../im/z/navacc.gif) no-repeat;}
.navtop {background:url(../im/z/navtop.gif) no-repeat;}
.navbas {background:url(../im/z/navbas.gif) no-repeat;}
.navire {background:url(../im/z/navire.png) no-repeat;}
.navpre {background:url(../im/z/navpre.gif) no-repeat;}
.navsui {background:url(../im/z/navsui.gif) no-repeat;}
.navaid {background:url(../im/z/navaid.gif) no-repeat;}
.navrec {background:url(../im/z/navrec.gif) no-repeat;}

#nava, #navr, #navd, #navp, #navt, #navs, #navd,
.navtb-t, .navtb-b {
background-repeat:no-repeat;
display:block;
float:left;
width:19px;
height:19px;
top:20px;
margin:5px;
}

#nava, #navr, #navd, #navp, #navt, #navs, #navd {
position:absolute;
z-index:3;
}

#navd {left:5%; background:url(../im/z/navacc.gif) no-repeat;}
#navr {left:11%; background:url(../im/z/navrec.gif) no-repeat;}
#nava {left:17%; background:url(../im/z/navaid.gif) no-repeat;}
#navt {left:23%; background:url(../im/z/navtop.gif) no-repeat;}
#navp {left:29%; background:url(../im/z/navpre.gif) no-repeat;}
#navs {left:35%; background:url(../im/z/navsui.gif) no-repeat;}
.navtb-t {background:url(../im/z/navtop.gif) no-repeat;}
.navtb-b {background:url(../im/z/navbas.gif) no-repeat;}

.navtb {
margin:0 auto;
width:58px;
padding:7px;
padding-top:15px;
}

a.ffx, a.xh1, a.css, a.aaa {
position:absolute;
display:block;
height:13px;
margin-top:5px;
top:20px;
padding-bottom:5px;
background-repeat:no-repeat;
}

a.ffx {
width:66px;
}

a.xh1 {
width:83px;
}

a.css {
width:32px;
}

a.aaa {
width:36px;
}

#hrpied {
margin-top:7px;
background:#887c73;
border:0;
width:420px;
height:2px;
}

.h0, h1, h2, h3, h4 {
text-align:left;
line-height:.9em;
margin:1em 0 0;
}

.h0, #titre {
font-size:1.05em;
font-weight:bold;
color:#a799aa;
text-indent:.7em;
margin-bottom:.5em;
}

.h0 {
background:url(../im/z/h1.png) repeat-x;
background-position:bottom;
}

#titre {
font-size:1.5em !important;
}

#titrei {
font-size:1.3em !important;
line-height:.9em;
position:relative;
top:0;
color:#557;
}

h1 {
font-size:1.5em;
margin-top:0;
padding-top:1em;
color:#557;
text-align:center;
}

h2 {
font-size:1.35em;
color:#778;
letter-spacing:-.02em;
line-height:1em;
margin-top:1.5em;
}

h3 {
font-size:1.15em;
color:#557;
}

h4 {
font-size:1em;
color:#335;
}

h5 {
font-size:.9em;
margin:0;
margin-top:2em;
color:#000;
}

ul, ol {
text-align:left;
}

ol {
margin-left:1.7em;
padding-left:2em;
}

.it {
font-style:italic;
margin-bottom:-.3em;
color:#caa;
font-size:90%;
}

.itph {
font-style:italic;
color:#555;
font-size:80%;
line-height:1em;
}

.rem {
font-weight:bold;
color:#b78;
}

.ret {
margin-left:1.5em;
margin-right:1.5em;
}

.tab {
text-indent:2em;
}

.gris {
color:#333;
font-weight:normal;
}

.cen {
text-align:center;
}

#rc0 {
position:relative;
z-index:1;
text-align:right;
font:.8em geneva,arial,sans-serif;
color:#a799aa;
top:-1.8em;
margin:-1em 0;
padding-top:1em;
}

acronym {
cursor:help;
border-bottom:1px dotted;
}

.treb {
font-family:"trebuchet ms",geneva,arial,sans-serif;
}

.livre {
position:relative;
float:left;
width:104px;
height:141px;
margin:10px;
background-image:url(../im/z/104x141.png);
}

.livre img {
margin-top:2px;
margin-left:2px;
width:92px;
height:129px;
}

p.let:first-letter {
color:#778;
font-size:1.3em;
font-weight:bold;
}

.cito, .citf {
position:relative;
padding:0;
width:25px;
height:17px;
}

.cito {
float:left;
background-image:url(../im/citaouv.gif);
}

.citf {
float:right;
bottom:.2em;
background-image:url(../im/citafer.gif);
}

dl.ddd {
width:80%;
margin:2em;
padding:0;
}

.ddd dt, .ddd dd {
border:2px solid #bad;
padding:.5em;
margin:3px 0;
}

.ddd dt {
background:#bad;
font:bold .9em geneva,arial,sans-serif;
color:#fff;
text-align:center;
margin:2em 0 0;
}

#kut {
position:relative;
left:-.5%;
height :100%;
width :100%;
}

#kut cite {
position:absolute;
bottom:-1em;
left:2em;
right:1.5em;
}

#moine {
position:relative;
top:2.5em;
}

#lin1, #lin2, #lin3, #lin4, #lin5, #lin6, #lin7, #lin8, #lin9, #lin10,
#lin11, #lin12, #lin13, #lin14, #lin15, #lin16, #lin17, #lin18, #lin19, #lin20 {
font-weight:bold;
color:#987;
background-image:none;
}

table {
background-color:#fff;
border-collapse:collapse;
text-align:left;
border:3px solid #b78;
}

td, th {
padding:.2em;
border:2px solid #c9a;
}

th {
text-align:center;
background:url(../im/de3.jpg) repeat-y;
background-position:-40px;
}

table caption {
color:#c9a;
font-weight:bold;
font-size:95%;
line-height:3em;
}

tfoot td {
text-align:center;
font-weight:bold;
background:url(../im/de3.jpg) repeat-y;
background-position:-60px;
}

.dis {
margin-top:1.5em;
background:#eeeadd;
border:0;
width:80%;
height:2px;
}

.def {
font-weight:bold;
color:#b78;
}

a#php {
width:94px;
height:15px;
position:relative;
display:block;
background-repeat:no-repeat;
background-image:url(../im/php.png);
top:10px;
left:8px;
}

#luna {
padding:2px;
background-color:#000;
border:1px solid #777;
}

#lunb {
padding:10.6px;
padding-bottom:2.8px;
padding-top:8px;
border:1px solid #fff;
text-align:center;
}

#lunc {
padding-bottom:4px;
color:#dce;
text-indent:.7em;
font-family:arial,helvetica,sans-serif;
font-size:1.1em;
}

#lund {
padding-top:2.8px;
text-align:center;
}

#lune {
font-size:10px;
font-family:arial,verdana,sans-serif;
color:#888;
text-decoration:underline;
border:none;
}

a#ddfr:hover {background-color:#f4dee9;}

a#ddfr {
position:relative;
float:right;
top:-40px;
display:block;
background-image:url(../im/ddfr.gif);
background-repeat:no-repeat;
width:125px;
height:68px;
}

#etr {margin-right:8.5em; margin-left:1.5em;}

a#afdel {
top:10px;
left:10px;
margin-bottom:10px;
margin-right:-20%;
background-image:url(../im/delivrance.jpg);
width:250px;
height:300px;
}

a#kuti {
top:10px;
left:10px;
float:left;
margin-bottom:20px;
padding-bottom:20px;
background-image:url(../im/kuti-mini.png);
width:133px;
height:87px;
}

a#oeil {
float:left;
margin-bottom:15px;
background-image:url(../fonds/oeil320x200.jpg);
width:320px;
height:200px;
margin-right:15px;
}

.bulle {
position:relative;
float:right;
display:block;
background:url(../im/bulle.gif) no-repeat;
width:160px;
height:120px;
margin:10px;
}

.ma {
margin:10px;
font:.8em "Comic Sans MS", geneva,arial,sans-serif;
}

.sm {cursor:default;}

.at, .ci, .co, .ep, .id, .li, .me {
position:absolute;
width:31px;
height:26px;
background-repeat:no-repeat;
margin:-24px -5px;
}

.plus, .moins {
background-color:#fef3ca;
border:#aaa solid 1px;
-moz-border-radius: 4px;
border-radius: 4px;
margin:1.5em 0;
padding:1em;
color:#434;
text-align:left;
}

.at {background-image: url(../im/z/i.at.png);}
.ci {background-image: url(../im/z/i.ci.png); margin-top:-21px}
.co {background-image: url(../im/z/i.co.png);}
.ep {background-image: url(../im/z/i.ep.png);}
.id {background-image: url(../im/z/i.id.png); margin-left:0;}
.li {background-image: url(../im/z/i.li.png); margin-left:-10px;}
.me {background-image: url(../im/z/i.me.png); margin-top:-28px}

.ita, .ci p {font-style:italic;}

.plus a:link {color:#339;}
.plus a:visited {color:#77b;}
.plus a:active {color:#f00;}
.plus a:hover {color:#423; background:#ec9;}

.cicoepidli {
position:absolute;
font:bold .7em geneva,arial,sans-serif;
text-indent:30px;
color:#a98;
margin-top:-1.2em;
font-style:normal;
}

.ast {
font:1.8em century,georgia,times new roman;
vertical-align:sub;
}

.vers {
font-style:italic;
margin:2em 4em;
font-family:geneva,arial,sans-serif;
}

.resu {
color:#557;
margin:2em;
font:.9em geneva,arial,sans-serif;
}

.minihr {
margin-top:1.3em;
margin-bottom:1.3em;
border:2px #dcd solid;
width:77px;
height:0;
-webkit-box-shadow: 1px 1px 3px #777;
-moz-box-shadow: 1px 1px 3px #777;
box-shadow: 1px 1px 3px #777;
}

.ptgris {color:#557; font-size:.7em;}

#bas, #zed, #zedi, #sol {margin:0;}

#bas {
width:100%; 
height:299px; 
position:relative;
float:left;
bottom:0; 
}

#zed {
background:url(../im/z/montagnes.png) repeat-x;
background-position:100% 100%;
width:100%;
height:299px;
position:relative; 
}

#sol {
background:url(../im/z/sol.png) no-repeat;
position:absolute; 
right:0; bottom:0; 
width:777px;
height:95px;
}

#zedi {
background:url(../im/z/zedi.png) no-repeat;
position:absolute; 
right:0; bottom:16px;
width:290px; height:500px;
}

#kn-extr, #kn-boud, #kn-dham, #kn-sang, #kn-sutt, #kn-sama, #kn-vipa, #kn-livr, #kn-inte, #kn-plan,
#kn-lien, #kn-mail, #kn-phot, #kn-aide, #kn-err, #kn-pali, #kn-droi, #kn-dana, #kn-novi, #kn-yfeu,
#kn-niva, #kn-prot, #kn-asub, #kn-sque, #kn-bato, #kn-fond, #kn-, #kn-, #kn-, #kn- {
background-repeat:no-repeat;
position:absolute;
margin:360px -130px;
}

#kn-lien, #kn-mail, #kn-niva {margin-left:-160px;}
#kn-phot, #kn-erre, #kn-droi, #kn-sque {margin-left:-120px;}
#kn-sang, #kn-inte, #kn-phot, #kn-droi, #kn-sque {margin-top:330px}

#kn-extr {background:url(../im/z/kn.extr.png); width:197px; height:223px; margin:240px 38px;}
#kn-boud {background:url(../im/z/kn.boud.png); width:134px; height:136px;}
#kn-dham {background:url(../im/z/kn.dham.png); width:252px; height:155px; margin-left:-250px;}
#kn-sang {background:url(../im/z/kn.sang.png); width:192px; height:167px; margin-left:-300px;}
#kn-sutt {background:url(../im/z/kn.sutt.png); width:142px; height:126px; margin-left:-150px;}
#kn-sama {background:url(../im/z/kn.sama.png); width:128px; height:109px;}
#kn-vipa {background:url(../im/z/kn.vipa.png); width:143px; height:126px;}
#kn-livr {background:url(../im/z/kn.livr.png); width:139px; height:112px; margin:388px -90px;}
#kn-inte {background:url(../im/z/kn.inte.png); width:115px; height:165px; margin-left:-150px;}
#kn-plan {background:url(../im/z/kn.plan.png); width:56px; height:134px; margin:101px 98px;}

#kn-lien {background:url(../im/z/kn.lien.png); width:155px; height:118px;}
#kn-mail {background:url(../im/z/kn.mail.png); width:152px; height:121px;}
#kn-phot {background:url(../im/z/kn.phot.png); width:97px; height:155px;}
#kn-aide {background:url(../im/z/kn.aide.png); width:202px; height:284px; margin:198px 10px;}
#kn-erre {background:url(../im/z/kn.erre.png); width:106px; height:174px; margin-top:330px}
#kn-pali {background:url(../im/z/kn.pali.png); width:124px; height:200px; margin:260px -200px;}
#kn-droi {background:url(../im/z/kn.droi.png); width:58px; height:171px;}
#kn-dana {background:url(../im/z/kn.dana.png); width:137px; height:142px;}
#kn-novi {background:url(../im/z/kn.novi.png); width:289px; height:184px; margin-top:331px;}
#kn-fond {background:url(../im/z/kn.fond.png); width:312px; height:237px; margin-top:277px;}
#kn-yfeu {background:url(../im/z/kn.yfeu.png); width:202px; height:215px; margin:285px 88px;}

#kn-niva {background:url(../im/z/kn.niva.png); width:161px; height:145px;}
#kn-prot {background:url(../im/z/kn.prot.png); width:124px; height:196px; margin-top:300px;}
#kn-asub {background:url(../im/z/kn.asub.png); width:214px; height:229px; margin-top:287px;}
#kn-sque {background:url(../im/z/kn.sque.png); width:159px; height:175px;}
#kn-bato {background:url(../im/z/kn.bato.png); width:274px; height:133px; margin-left:-300px;}

#ldb {
position:absolute;
float:left;
margin-top:275px;
margin-left:40px;
z-index:3;
font-size:.6em;
}

#ldb a {border:solid 1px; text-decoration:none; color:#778;}
#ldb a:hover {border:solid 1px; border-color:#feeeb3; background:none;}

#a7d {color:#cbe;}



/*--------------------------------------------
   Gestion des articles du lexique
--------------------------------------------*/

.lexiterm {
color:#778;
font-family: "Trebuchet MS", Geneva, Arial, sans-serif;
font-size:1.4em;
font-weight:bold;
margin-bottom:0.4em;
margin-left:0em;
margin-top:0.9em;
}

.lexigram {
color:#557;
font-family: Arial, sans-serif;
font-size:1em;
font-weight:bold;
margin-bottom: 0.3em;
margin-left:0.1em;
margin-top: 0.8em;
}

.lexigrampuce {
border:1px solid white;
background-color:#557;
color:white;
font-family: "Courier New", Geneva, Arial, sans-serif;
font-size:0.9em;
margin-left:0.2em;
margin-right:0.5em;
padding-bottom: 0em;
padding-top: 0em;
padding-left: 0.3em;
padding-right: 0.3em;
}

.lexicontexte {
color:darkred;
font-family: "Trebuchet MS", Arial, sans-serif;
font-size:0.85em;
font-weight:normal;
}

.lexidefi {
color:black;
font-family: "Trebuchet MS", serif;
font-size:1em;
font-weight:normal;
margin-bottom: 0.4em;
margin-top: 0.4em;
margin-left: 2.1em;
margin-right: 1em;
}

.lexidefipuce {
float:left;
border:1px solid black;
color:black;
font-family: "Courier New", Geneva, Arial, sans-serif;
font-size:0.8em;
margin-top:0.2em;
margin-left:0.5em;
margin-right:0.5em;
padding-bottom: 0em;
padding-top: 0em;
padding-left: 0.2em;
padding-right: 0.3em;
}

.lexirema {
color:navy;
font-family: Arial, sans-serif;
font-size:0.9em;
font-weight:normal;
margin-bottom: 0.2em;
margin-top: 0.8em;
margin-left: 2.3em;
margin-right: 2em;
}

.lexiliste {
margin-left: -2em;
line-height:.8em;
}

.lexiliste {
font-size:.8em;
font-weight:normal;
}

/*--------------------------------------------
   Tableau numéroté avec nom et description
--------------------------------------------*/

tr.lgn {
vertical-align:top;
}

td.colnum {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:right;
}

td.colnom {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:left;
}

td.colsep {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
}

td.coldsc {
padding-right:0.6em;
padding-left:0.6em;
padding-bottom:0.4em;
padding-top:0.4em;
text-align:justify;
}

/*--------------------------------------------
   Tableau numéroté avec nom et description
   pour volets (style koṭṭhāsa)
--------------------------------------------*/

table.nndv {
border-width:4px;
background-color:transparent;
margin-bottom:1em;
margin-top:1em;
table-layout:auto;
}

tr.nndv {
vertical-align:top;
}

td.nndv-colnum, th.nndv-colnum {
border-left:3px solid #b78;
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:right;
}

td.nndv-colnom {
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:left;
}

td.nndv-coldsc {
padding-bottom:0.2em;
padding-left:0.5em;
padding-right:0.5em;
padding-top:0.2em;
text-align:justify;
width:10em;
}


