@charset "UTF-8";
/* Commentaires et règles de style peuvent contenir des caractères non ASCII. */

html, body {
height: 100%;
margin: 0;
padding: 0;
background-color: #eeeadd;
font: 100% "trebuchet ms",geneva,arial,sans-serif;
text-align: justify;
color: #000;
}

.nocss {
display: none;
}

p {
font-size: 1em;
margin-bottom: 0;
margin-top: .7em;
}

.ptt p, .pttd p, .pttn p, .pttj p, .ptt ol, .ptt ul {
margin: .3em 0;
font: .9em "trebuchet ms",geneva,arial,sans-serif;
text-align: left;
line-height: .9em;
}

.pttn p {
color: #000;
}

.ptt p {
color: #987;
}

img {
border: 0;
}

.ima {
margin: 1em;
}

.imag, .imad {
position: relative;
margin: 0 1em .5em;
}

.imag {
float: left;
}

.imad {
float: right;
}

.pi, .pit {
font: 110% dhamma;
font-style: italic;
}

.pit, .dur {
cursor: help;
border-bottom: 1px dotted;
}

a:link {color: #399;}
a:visited {color: #399; text-decoration: none;}
a:active {color: #930;}
a:hover {color: #6cc; text-decoration: none;}

a.i:link {color: #957759}
a.i:visited {color: #957759; text-decoration: none;}
a.i:active {color: #930}
a.i:hover {color: #000; text-decoration: none}

a.s:link {color: #930;}
a.s:visited {color: #930; text-decoration: none;}
a.s:active {color: #930;}
a.s:hover {color: #d71; text-decoration: none;}

a#dd:link {color: #ba9; font-size: 70%;}
a#dd:visited {color: #ba9; text-decoration: none; font-size: 70%;}
a#dd:active {color: #930; font-size: 70%;}
a#dd:hover {color: #dba; text-decoration: none; font-size: 70%;}

#dd {
float: right;
font: 80% "trebuchet ms",geneva,arial,sans-serif;
margin: 2em 0 0;
}

#tete {
width: 100%;
height: 109px;
background: url(../im/ddh.jpg) repeat-x;
}

#logo {
width: 102px;
height: 102px;
margin-top: 6px;
margin-left: 17px;
}

#ddorg {
position: absolute;
top: 0;
left: 120px;
width: 348px;
height: 39px;
margin-top: 38px;
margin-left: 8px;
}

#aa1 {width: 23px; right: 220px; background: url(../im/aaaide.gif) no-repeat;}
#aa2 {width: 30px; right: 180px; background: url(../im/aaaccess.gif) no-repeat;}
#aa3 {width: 32px; right: 140px; background: url(../im/aarecher.gif) no-repeat;}
#aa4 {width: 32px; right: 100px; background: url(../im/aalivres.gif) no-repeat;}
#aa5 {width: 31px; right: 60px; background: url(../im/aapolice.gif) no-repeat;}
#aa6 {width: 35px; right: 15px; background: url(../im/aaemail.gif) no-repeat;}

#aa1, #aa2, #aa3, #aa4, #aa5, #aa6 {
position: absolute;
top: 0;
height: 32px;
margin-top: 40px;
}

#aa1 em, #aa2 em, #aa3 em, #aa4 em, #aa5 em, #aa6 em {
display: none;
}

#ici {
position: absolute;
z-index: 2;
width: 100%;
top: 98px;
font: .8em geneva,arial,sans-serif;
text-align: center;
}

#menui, #menua, #menub, #menud, #menus, #menuv, #menul {
position: relative;
z-index: 99;
float: left;
top: 14px;
margin-top: -1em;
margin-bottom: 1em;
font: 1.4em dhamma,"arial narrow","trebuchet ms",geneva,arial,sans-serif;
background: #cba right no-repeat;
width: 100%;
border: 0 solid #cba;
border-right-width: 4px;
}

#menui {background-image: url(../im/phi.gif);}
#menua {background-image: url(../im/pha.jpg);}
#menub {background-image: url(../im/phb.jpg);}
#menud {background-image: url(../im/phd.jpg);}
#menus {background-image: url(../im/phs.jpg);}
#menuv {background-image: url(../im/phv.jpg);}
#menul {background-image: url(https://en.dhammadana.org/im/phl.jpg);}

#md, #md ul {
list-style: none;
line-height: .8;
background-color: #eeeadd;
border: 0 solid #cba;
border-right-width: 4px;
margin: 0;
padding: 0;
width: 5em;
}

#md a {
display: block;
color: #000;
text-decoration: none;
padding: 0.25em;
width: 5em;
}

#md a.papa {
background: url(../im/menuf.gif) right no-repeat;
}

#md li {
padding: 0;
width: 5.4em;
font-size: 90%;
}

#md li ul {
position: absolute;
left: -999em;
height: auto;
width: 8em;
font-weight: normal;
border: 2px solid #930;
margin: -1.5em 4.9em;
}

#md li li {
padding-right: 1em;
width: 8em;
text-align: left;
}

#md li ul a {
w\idth: 8.4em;
}

#md li ul ul {
margin: -1.6em 0 0 8.3em;
}

#md li:hover ul ul, #md li:hover ul ul ul, #md li.sfhover ul ul, #md li.sfhover ul ul ul {
left: -999em;
}

#md li:hover ul, #md li li:hover ul, #md li li li:hover ul, #md li.sfhover ul, #md li li.sfhover ul, #md li li li.sfhover ul {
left: auto;
}

#md li:hover, #md li.sfhover {
background: #930 url(../im/de.jpg) repeat-y;
}

#choix, #choix ul {
position: relative;
float: left;
font: .9em/1em geneva,arial,sans-serif;
list-style: none;
background: #fff;
border: 2px inset #630;
margin: .3em .15em;
padding: 0;
width: 6.5em;
}

#choixf {
background: url(../im/choixf.gif) no-repeat right;
}

#choix a {
display: block;
color: #000;
text-decoration: none;
padding: 0.15em;
width: 5.95em;
}

#choix li {
padding: 0;
width: 6.5em;
}

#choix li ul {
position: absolute;
left: -999em;
height: auto;
width: 9.5em;
border: solid 2px #630;
margin: 0 -2em;
}

#choix li li {
padding-right: 1em;
width: 8.5em;
text-align: left;
}

#choix li ul a {
w\idth: 9em;
}

#choix li:hover ul, #choix li li:hover ul, #choix li.sfhover ul, #choix li li.sfhover ul {
left: auto;
}

#choix li:hover, #choix li.sfhover {
background: #fa2;
}

.liste, .lpp {
text-align: left;
padding-left: 2em;
margin-left: 0;
margin-top: 1em;
}

.liste ul, .lpp ul, .liste ul ul, .lpp ul ul {
padding-left: .7em;
margin-left: .7em;
}

.liste li {
list-style-image: url(../im/puce1.gif);
margin-top: .3em;
}

.liste li li {
list-style-image: url(../im/puce2.gif);
}

.liste li li li {
list-style-image: url(../im/puce3.gif);
}

.lpp li {
list-style-image: url(../im/puce3.gif);
padding-top: .1em;
}

.lpp li li {
list-style-image: url(../im/puce4.gif);
}

.lfl {
list-style-image: url(../im/pucef.gif);
}

.lfl li {
margin-top: 1em;
}

.nb li {
margin-top: 1em;
}

#gauche {
float: left;
width: 20%;
height: 100%;
padding: .7em;
}

#centre {
float: left;
width: 57%;
height: 100%;
padding: 0 .5em;
}

#droit {
float: right;
width: 15%;
height: 100%;
padding: 0 .7em 0 0;
}

.bloc, .bloci {
font-size: 95%;
float: left;
width: 100%;
margin-top: .7em;
background: #fff url(../im/bdg.gif) repeat-y;
border: 0 solid #930;
border-width: 0 2px 2px 0;
}

.hautg, .haut {
float: left;
font-size:1px;
}

.hautg {
width: 26px;
height: 26px;
background-image: url(../im/bdhg.png);
}

.haut {
width: 100%;
background: #fff url(../im/bdh.gif) repeat-x;
}

.cont {
margin: 0 .2em 1em .8em;
}

.contp {
margin: 0 1em 2em 1.8em;
}

.fl {
float: left;
}

.fr {
text-align: right;
margin: .5em;
}

.frgd {
position: relative;
float: right;
margin: 0 0 0 1em;
font: .7em "trebuchet ms",geneva,arial,sans-serif;
line-height: 2em;
}

.drfr, .dren, .drmy, a.drfr, a.dren, a.drmy, a.drafr, a.draen, a.dramy, .drjp, a.drjp, a.drajp {
display: block;
width: 21px;
height: 14px;
margin-top: 10px;
margin-left: 5px;
background-repeat: no-repeat;
}

a.drfr {background-image: url(../im/flagfrnb.gif);}
a.drfr:hover {background-image: url(../im/flagfr.png);}

a.dren {background-image: url(../im/flagennb.png);}
a.dren:hover {background-image: url(../im/flagen.png);}

a.drmy {background-image: url(../im/flagmynb.gif);}
a.drmy:hover {background-image: url(../im/flagmy.png);}

a.drjp {background-image: url(../im/flagjpnb.png);}
a.drjp:hover {background-image: url(../im/flagjp.png);}

a.drafr {background-image: url(../im/flagfr.png);}
a.draen {background-image: url(../im/flagen.png);}
a.drajp {background-image: url(../im/flagjp.png);}
a.dramy {background-image: url(../im/flagmy.png);}

a.drafr, a.draen, a.dramy, a.gdrafr, a.gdraen, a.gdramy, a.drajp, a.gddrajp {
cursor: default;
}

.gdrfr, .gdren, .gdrmy, a.gdrfr, a.gdren, a.gdrmy, a.gdrafr, a.gdraen, a.gdramy, .gdrjp, a.gdrjp, a.gdrajp {
display: block;
width: 30px;
height: 20px;
margin-left: 1em;
background-repeat: no-repeat;
}

a.gdrfr {background-image: url(../im/flagfrgn.png);}
a.gdrfr:hover {background-image: url(../im/flagfrgd.png);}

a.gdren {background-image: url(../im/flagengn.png);}
a.gdren:hover {background-image: url(../im/flagengd.png);}

a.gdrmy {background-image: url(../im/flagmygn.png);}
a.gdrmy:hover {background-image: url(../im/flagmygd.png);}

a.gdrjp {background-image: url(../im/flagjpgn.png);}
a.gdrjp:hover {background-image: url(../im/flagjpgd.png);}

a.gdrafr {background-image: url(../im/flagfrgd.png);}
a.gdraen {background-image: url(../im/flagengd.png);}
a.gdrajp {background-image: url(../im/flagjpgd.png);}
a.gdramy {background-image: url(../im/flagmygd.png);}

#pied {
float: left;
position: relative;
bottom: 0;
width: 100%;
text-align: center;
}

.nav {
position: relative;
float: right;
width: 19px;
height: 19px;
top: 0;
bottom: 4px;
margin: 0 7px -4px 0;
}

.navdd {
position: relative;
float: right;
width: 19px;
height: 19px;
top: 14px;
margin: 0 7px 0 0;
}

#nava, #navl, #navd, #navr, #navp, #navt, #navs {
position: absolute;
display: block;
width: 19px;
height: 19px;
margin-top: 5px;
top: 20px;
padding-bottom: 5px;
}

#nava {left: 75%;}
#navl {left: 80%;}
#navd {left: 85%;}
#navr {left: 90%;}
#navp {left: 95%;}
#navt {left: 100%;}
#navs {left: 105%;}

.navtb {
text-align: center;
margin: 7px 3px 0 3px;
}

a.ffx, a.xh1, a.css, a.aaa {
position: absolute;
display: block;
width: 60px;
height: 20px;
margin-top: 5px;
top: 20px;
padding-bottom: 5px;
background-repeat: no-repeat;
}

a.xh1 {background-image: url(../im/60w3cxnb.gif); left: -5%;}
a.xh1:hover {background-image: url(../im/60w3cx.png);}

a.css {background-image: url(../im/60w3ccnb.gif); left: 10%;}
a.css:hover {background-image: url(../im/60w3cc.png);}

a.aaa {background-image: url(../im/60w3canb.gif); left: 25%;}
a.aaa:hover {background-image: url(../im/60w3ca.png);}

a.ffx {background-image: url(../im/60ffoxnb.gif); left: 40%;}
a.ffx:hover {background-image: url(../im/60ffox.png);}

#hrpied {
margin-top: 7px;
background: #630 url(../im/de2.jpg);
border: 0;
width: 420px;
height: 2px;
}

h1, h2, h3, h4, h5 {
font: 110% dhamma;
font-weight: bold;
text-align: left;
line-height: .9em;
margin: 1em 0 0;
}

h1, #titre {
font-size: 1.05em;
font-weight: bold;
color: #f90;
margin-top: -1em;
padding-top: 1em;
text-indent: .7em;
border-style: none;
}

#titre {
font-size: 1.5em !important;
}

#titrei {
font-size: 2em !important;
line-height: .9em;
color: #930;
}

h2 {
font-size: 1.5em;
margin-top: 0;
color: #930;
text-indent: 1.2em;
border: 0 solid #e3d9cf;
border-bottom-width: .15em;
background: url(../im/de3.jpg) repeat-y;
}

h3 {
font-size: 1.35em;
color: #cba;
letter-spacing: -.02em;
border: 0 solid #f9f7f4;
border-bottom-width: .15em;
}

h4 {
font-size: 1.2em;
color: #957759;
}

h5 {
font-size: 1em;
color: #000;
}

h6 {
font-size: .9em;
margin: 0;
margin-top: 2em;
color: #cba;
text-align: center;
}

ul, ol {
text-align: left;
}

ol {
margin-left: 1.7em;
padding-left: 2em;
}

.it {
font-style: italic;
margin-bottom: -.3em;
color: #caa;
font-size: 90%;
}

.rem {
font-weight: bold;
color: #930;
}

.ret {
margin-left: 1.5em;
margin-right: 1.5em;
}

.tab {
text-indent: 2em;
}

.gris {
color: #bbb;
font-weight: normal;
}

.cen {
text-align: center;
}

#rc0 {
position: relative;
z-index: 1;
text-align: right;
font: .8em geneva,arial,sans-serif;
top: -.7em;
margin: -1em 0;
padding-top: 1em;
}

acronym {
cursor: help;
border-bottom: 1px dotted;
}

.treb {
font-family: "trebuchet ms",geneva,arial,sans-serif;
}

.livre {
position: relative;
float: left;
width: 104px;
height: 141px;
margin: 10px;
background-image: url(../im/104x141.png);
}

.livre img {
margin-top: 2px;
margin-left: 2px;
width: 92px;
height: 129px;
}

p.let:first-letter {
float: left;
margin-right: .1em;
padding: .05em;
background-color: #cba;
color: #fff;
font-size: 2.7em;
font-weight: bold;
}

.cito, .citf {
position: relative;
padding: 0;
width: 25px;
height: 17px;
}

.cito {
float: left;
background-image: url(../im/citaouv.gif);
}

.citf {
float: right;
bottom: 1.2em;
background-image: url(../im/citafer.gif);
}

dl.ddd {
width: 80%;
margin: 2em;
padding: 0;
}

.ddd dt, .ddd dd {
border: 2px solid #cba;
padding: .5em;
margin: 3px 0;
}

.ddd dt {
background: #cba;
font: bold .9em geneva,arial,sans-serif;
color: #fff;
text-align: center;
margin: 2em 0 0;
}

#kut, #kut img {
position: relative;
left: -.5%;
height : 100%;	
width : 100%;
}

#kut cite {	
position: absolute;
bottom: 1.5em;
left: 2em;
right: 1.5em;
}

#lin1, #lin2, #lin3, #lin4, #lin5, #lin6, #lin7, #lin8, #lin9, #lin10, #lin11, #lin12, #lin13, #lin14, #lin15, #lin16, #lin17, #lin18, #lin19, #lin20 {
font-weight:bold;
color: #987;
background-image: none;
}

table {
background-color: #fff;
border-collapse: collapse;
text-align: left;
border: 3px solid #930;
}

td, th {
padding: .2em;
border: 2px solid #cba;
}

th {
text-align: center;
background: url(../im/de3.jpg) repeat-y;
background-position: -40px;
}

table caption {
color: #cba;
font-weight: bold;
font-size: 95%;
line-height: 3em;
}

tfoot td {
text-align: center;
font-weight:bold;
background: url(../im/de3.jpg) repeat-y;
background-position: -60px;
}

.dis {
margin-top: 1.5em;
background: #eeeadd;
border: 0;
width: 80%;
height: 2px;
}

.def {
font-weight: bold;
color: #930;
}

a#php {
width: 94px;
height: 15px;
position: relative;
display: block;
background-repeat: no-repeat;
background-image: url(../im/php.png);
top: 10px;
left: 8px;
}

#luna {
padding: 2px;
background-color: #cba;
border: 0;
}

#lunb {
padding: 10.6px;
padding-bottom: 2.8px;
padding-top: 8px;
border: 1px solid #930;
text-align: center;
}

#lunc {
padding-bottom: 4px;
color: #630;
text-indent: .7em;
font-family: dhamma,arial,helvetica,sans-serif;
font-size: 1.1em;
}

#lund {
padding-top:2.8px;
text-align: center;
}

#lune {
font-size:10px;
font-family: arial,verdana,sans-serif;
color:#888;
text-decoration: underline;
border: none;
}

#tour {
background: #000;
padding: 2px;
}

a#ddfr, a#afdel, a#kuti {
position: relative;
float: right;
display: block;
background-repeat: no-repeat;
}

a#ddfr {
top: -30px;
background-image: url(../im/ddfr.gif);
width: 125px;
height: 68px;
}
#etr {margin-right: 8.5em; margin-left: 1.5em;}

a#afdel {
top: 10px;
left: 10px;
margin-bottom: 10px;
margin-right: -20%;
background-image: url(../im/delivrance.jpg);
width: 250px;
height: 300px;
}

a#kuti {
top: 10px;
left: 10px;
float: left;
margin-bottom: 20px;
padding-bottom: 20px;
background-image: url(../im/kuti-mini.png);
width: 133px;
height: 107px;
}

a#oeil {
float: left;
margin-bottom: 15px;
background-image: url(../fonds/oeil320x200.jpg);
width: 320px;
height: 200px;
margin-right: 15px;
}

.bulle {
position: relative;
float: right;
display: block;
background: url(../im/bulle.gif) no-repeat;
width: 160px;
height: 120px;
margin: 10px;
}

.ma {
margin: 10px;
font: .8em "Comic Sans MS", geneva,arial,sans-serif;
}
