body {background: #4078B4}
p {margin: 0.8em 0pt; padding: 0pt; font-family:Arial;font-size:11pt;}
td {font-family:Arial;font-size:11pt;}
.c{text-align: center}
.link{font-family:Arial;font-size:9pt; text-align: center}


A{text-decoration: none;} 
A:link { color: blue;}
A:visited { color: navy;}
A:hover{color: red;}

