<!DOCTYPE html>
<html data-bs-theme="light">
<head>
<title>$title</title>
<meta name="description" content="$title">


<meta property="og:type" content="article" />
<meta property="og:title" content="$title - Dhamma.gift" />

<meta property="og:url" content="https://dhamma.gift">
<meta property="og:image" content="/assets/img/social_sharing_results.jpg" />

<meta property="og:description" content="$title" />
<meta name="twitter:title" content="Dhamma.gift">
<meta name="twitter:description" content="$title">

<meta name="twitter:card" content="/assets/img/social_sharing_results.jpg">
<meta property="twitter:domain" content="dhamma.gift">
<meta property="twitter:url" content="">
<meta name="twitter:title" content="$title">
<meta name="twitter:description" content="$title">
<meta name="twitter:image" content="/assets/img/social_sharing_results.jpg">


<link rel="icon" type="image/png" href="/assets/img/favico-noglass.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<style>
    body {
        opacity: 0;
        visibility: hidden;
        background: black;
        transition: opacity 0.3s ease-in-out; /* Плавное появление */
    }
</style>

<link rel="stylesheet" type="text/css" href="/assets/js/datatables/datatables.min.css"/>
<!--
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.5.3.1.min.css"/>
-->

<link rel="stylesheet" href="/assets/css/langswitch.css">
<link rel="stylesheet" href="/assets/css/paliLookup.css">
<link rel="stylesheet" href="/assets/css/extrastyles.css">
<script src="/assets/js/loadCssJsResult.js"></script>

<!--
-->
<script type="text/javascript" src="/assets/js/bootstrap.bundle.5.3.1.min.js"></script>
<script src="/assets/js/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables/datatables.js"></script>
<script type="text/javascript" src="/assets/js/natural.js"></script>
<script type="text/javascript" src="/assets/js/strip-html.js"></script>
<!-- <script type="text/javascript" src="/assets/js/diacritics.js"></script> -->


<link href="/assets/css/table.css" rel="stylesheet" />
<!--<script src="https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha/aksharamukha-web-plugin/aksharamukha-v3.js?class=verse"></script>-->

</head>
<body>
  <script src="/assets/js/themeswitch.js" defer></script>
