<!DOCTYPE html>
<html data-bs-theme="light">
<head>
<title>$title</title>
<link rel="icon" type="image/png" href="/assets/img/favico-noglass.png" />


 <meta http-equiv="Cache-control" content="public">
<meta property="og:type" content="article" />
<meta property="og:title" content="$title - find.Dhamma.gift" />
<meta property="og:description" content="$title" />
<meta name="description" content="$title">
<meta name="twitter:title" content="Find.dhamma.gift">
<meta name="twitter:description" content="$title">
<!--<meta property="og:image" itemprop="image" content="" />
-->
<meta property="og:image" content="/assets/img/social_sharing_results.jpg" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/assets/css/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.5.3.1.min.css"/>
<link rel="stylesheet" href="/assets/css/langswitch.css">
<link rel="stylesheet" href="/assets/css/extrastyles.css">

<script type="text/javascript" src="/assets/js/bootstrap.bundle.5.3.1.min.js"></script>
<script src="/assets/js/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="/assets/js/natural.js"></script>
<script type="text/javascript" src="/assets/js/strip-html.js"></script>
<!-- <script type="text/javascript" src="/assets/js/diacritics.js"></script> -->


<link href="/assets/css/extrastyles.css" rel="stylesheet" />
<link href="/assets/css/table.css" rel="stylesheet" />
<!--<script src="https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha/aksharamukha-web-plugin/aksharamukha-v3.js?class=verse"></script>-->
</head>
<body>
