<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
  </head>
<body>

<div style="text-align:center; z-index:999;">
    <a target="_blank" href=https://dhamma.gift>Main</a>
  <a target="_blank" href=https://dhamma.gift/read/?q=mn19&lang=pli>Pāḷi</a> 
<a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/mn19-dvedha-vitakka-sutta-sv.htm>Rus</a> 
  <a target=_blank href=https://suttacentral.net/mn19/th/siam_rath>ไทย</a> <a target="_blank" href=https://suttacentral.net/mn19/en/sujato?layout=linebyline>Eng</a>
  <iframe src="https://theravada.ru/Teaching/Canon/Suttanta/Texts/mn35-cula-saccaka-sutta-sv.htm" style="position:fixed; top:40px; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:1;">
    Your browser doesn't support iframes
</iframe>
</div>
</body>
</html>


<!-- 






 <frameset rows="100%,*">
    <frame src=
"https://theravada.ru/Teaching/Canon/Suttanta/Texts/mn35-cula-saccaka-sutta-sv.htm">
        <noframes>
  
            <body>
  
            </body>
        </noframes>
</frameset>
-->