</div>
<script src="/assets/js/fontawesome.6.1.all.js" defer></script>
<script type="text/javascript" src="/assets/js/typeahead/bootstrap3-typeahead.min.js"></script>
    <script type='text/javascript'>
$(document).ready(function (){
       // Регистрируем собственный тип сортировки для чекбоксов
    $.fn.dataTable.ext.order['dom-checkbox'] = function(settings, col) {
        return this.api().column(col, { order: 'index' }).nodes().map(function(td, i) {
            return $('input', td).prop('checked') ? '1' : '0';
        });
    };
   
   
   var dataSrc = [];
	 var table = $('#pali').DataTable({
	 
	 
	          dom: '<"row"lf>r<t><"row"ip><"footerlike"B>',
        buttons: {
          name: 'primary',
        buttons: [
            {
              text: 'Main',
              className: 'btn btn-link ',
                  action: function ( dt ) {
                                window.location.href = "MAINLINKVAR";
                            }
            },
                        {
              text: 'List Diff',
               className: 'btn btn-link ',
                  action: function ( dt ) {
                                window.location.href = '/assets/listdiff.html';
                            }
                        },  
                        {
              text: 'Archive',
              className: 'btn btn-link ',
                  action: function ( dt ) {
                                window.location.href = '/archive.php';
                            }
                        },  
                        { extend: 'colvis', 
                     className: 'btn btn-link ',
                        text: 'Visibility' }
        ]
    },	 
	   'autoWidth': true,
	    'paging'  : true,
	    "orderMulti": true,
			 'columnDefs': [
				{                
				targets: [8], // Индекс столбца с чекбоксами
				orderDataType: 'dom-checkbox' // Используем функцию сортировки
				},
	            { type: "html", target: [0,3,9] }	
					], 
	  'responsive': true,
	  'colReorder': true,
	        "aaSorting": [], // orderSequence https://datatables.net/reference/option/columns.orderSequence
			    order: [[8, 'desc']],
	       
	         'initComplete': function(){
         var api = this.api();

         // Populate a dataset for autocomplete functionality
         api.cells('tr', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]).every(function(){
            //var data = this.data().replace( /(<([^>]+)>)/ig, '');
            var data = $('<div>').html(this.data()).text();
           // console.log(data);
            if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
         });

         // Initialize Typeahead plug-in
         $('.dataTables_filter input[type="search"]', api.table().container())
            .typeahead({
              autoSelect: false,
               source: dataSrc,
               afterSelect: function(value){
                  api.search(value).draw();
               }
            }
         );
      }
   });			     

    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Expand row details
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    });
    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Collapse row details
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    });
});
  </script>
  
<script>
// Получение всех чекбоксов
var checkboxes = document.querySelectorAll('input[type="checkbox"]');

// Функция для сохранения состояния чекбоксов в LocalStorage
function saveCheckboxesStateToLocalStorage(urlKey) {
  var checkboxState = {};
  checkboxes.forEach(function(checkbox, index) {
    checkboxState['checkbox_' + checkbox.dataset.index] = checkbox.checked;
  });
  localStorage.setItem(urlKey, JSON.stringify(checkboxState));
}

// Функция для восстановления состояния чекбоксов из LocalStorage
function restoreCheckboxesStateFromLocalStorage(urlKey) {
  var checkboxState = JSON.parse(localStorage.getItem(urlKey));
  if (checkboxState) {
    checkboxes.forEach(function(checkbox) {
      var index = checkbox.dataset.index;
      checkbox.checked = checkboxState['checkbox_' + index] || false;
    });
  }
}

// Получение части URL, которую будем использовать как ключ для LocalStorage
var currentURL = window.location.href;
var urlKey = currentURL.substring(currentURL.lastIndexOf('/') + 1);

// Вызов функции восстановления состояния чекбоксов при загрузке страницы
document.addEventListener('DOMContentLoaded', function() {
  restoreCheckboxesStateFromLocalStorage(urlKey);
});

// Вызов функции сохранения состояния чекбоксов при изменении их значения
checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    saveCheckboxesStateToLocalStorage(urlKey);
  });
});

</script>
<script src="/assets/js/themeswitch.js"></script>

</body>
</html>