<div class="container-fluid mt-2">    
    <h3 class="pl-2 ml-2">$title</h3>
            <button class="btn btn-light mb-1" type="button">
           <a href='../'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="body_1" width="20" height="15">
                <g transform="matrix(0.13384491 0 0 0.13384491 1.7765683 -0)">
                    <g>
                        <path
                            d="M61.44 0L0 60.18L14.99 68.05L61.04 19.7L107.89 68.06L122.88 60.19L61.44 0zM18.26 69.63L61.5 26.38L104.61 69.63L104.61 112.06L73.12 112.06L73.12 82.09L49.49 82.09L49.49 112.06L18.26 112.06L18.26 69.63z"
                            stroke="none" fill="#989898" fill-rule="nonzero" />
                    </g>
                </g>
            </svg>
                       </a>
      </button>  
    <button id="theme-button" class="btn btn-light mb-1 " type="button">
      
            <svg xmlns="http://www.w3.org/2000/svg"  height="18" viewBox="0 0 24 24">
                <path
                    d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.514 4.486-10 10-10v20c-5.514 0-10-4.486-10-10z"
                    fill="#989898" />
            </svg>
</button>		  
    <button id="btn-hide-all-children" class="btn btn-light mb-1" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" class="btn btn-light mb-1" type="button">Vivaṭṭo</button>
<button class="btn btn-light mb-1" type="button">
  <a href="$replacehref" class="text-decoration-none link-dark">
  $ReplaceMe 
  </a>
  </button>

<hr>
<table id="pali" class="display table table-striped table-hover responsive " cellspacing="0" width="100%">
   <thead class="thead-light">
        <tr>
            <th>Pattern</th>
            <th>Texts</th>
            <th>Matches</th>
            <th>Words</th>
            <th>Pitaka</th>
            <th>Source</th>
            <th>Date</th>
            <th>Size</th>
            <th class="none">Links</th>
        </tr>
    </thead>
    <tbody>
      <!-- class="none" -->