<div class="container-fluid mt-2">    
    <h3 class="pl-2 wordwrap ml-2">$title</h3>
                       <a href='HOMEVAR'>
            <button class="btn btn-light mb-1" type="button">
    <img class="table-home-icon" src="/assets/svg/home-icon.svg"></img>   
      </button>  
</a>
    <button id="theme-button" class="btn btn-light mb-1 " type="button">
      
<img src="/assets/svg/circle-half-stroke.svg" onclick="switchIcon(this)" class="changesvg table-theme-icon gray-icon"></img>

</button>		  
    <button id="btn-hide-all-children" class="btn btn-light mb-1" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" class="btn btn-light mb-1" type="button">Vivaṭṭo</button>
<button class="btn btn-light mb-1" type="button">
  <a href="$replacehref" class="text-decoration-none">
  $ReplaceMe 
  </a>
  </button>

<hr>
<table id="pali" class="display table table-striped table-hover responsive " cellspacing="0" width="100%">
   <thead class="thead-light">
        <tr>
            <th>Pattern</th>
            <th>Fav</th>			
            <th>Texts</th>
            <th>Matches</th>
            <th>Words</th>
            <th>Pitaka</th>
            <th>Source</th>
            <th>Date</th>
            <th>Size</th>
            <th class="none">Links</th>
        </tr>
    </thead>
    <tbody>
      <!-- class="none" -->