</div>
    <script type='text/javascript'>
$(document).ready(function (){

	 var table = $('#pali').DataTable({
	   'autoWidth': true,
	    'paging'  : true,
	    "orderMulti": true,
	  'responsive': true,
	  'colReorder': true,
	        "aaSorting": []
    });
	  
	  
    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Expand row details
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    });
    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Collapse row details
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    });
});
  </script>

</body>
</html>