<div class="container-fluid mt-2">    
    <h3 class="pl-2 ml-2">$title</h3>
    <button id="btn-hide-all-children" class="btn btn-light" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" class="btn btn-light" type="button">Vivaṭṭo</button>
<hr>
<table id="pali" class="display table table table-striped table-hover table-responsive " cellspacing="0" width="100%">
   <thead class="thead-light">
        <tr>
            <th>Sv Number</th>
            <th>Samyuttavagga Name</th>
            <th>Samyutta Number</th>
            <th>Samyutta Name</th>
            <th>Vagga Number</th>
            <th>Vagga Name</th>
            <th>Sutta Name</th>
            <th>Sutta Number</th>
            <th class="none">Suttas in Samyutta</th>
        </tr>
    </thead>
    <tbody>