<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/assets/css/styles.css" rel="stylesheet" />
<!-- Favicon-->
<link rel="icon" type="image/png" href="/assets/img/favico-noglass.png" />

  <!-- Загрузка иконки для iOS -->
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favico-noglass.png">


  <title>Table of Contents</title>
  <style>
    .level1 {
      margin-left: 10px;
    }

    .level2 {
      margin-left: 20px;
    }

    .level3 {
      margin-left: 30px;
    }

    .level4 {
      margin-left: 40px;
    }

    .level5 {
      margin-left: 50px;
    }
	
	.btn-fixed-width {
  width: 30px; /* Замените на желаемую фиксированную ширину */
}

  .btn-rotate {
    transition: transform 0.3s ease;
  }

  .btn-rotate.rotate {
    transform: rotate(180deg);
  }

</style>

</head>

<body>
