     </tbody> 
    </table>
</div>

<script type="text/javascript" src="/assets/js/typeahead/bootstrap3-typeahead.min.js"></script>
    <script type='text/javascript'>
   $(document).ready(function() {
   var dataSrc = [];
   
     var filterValue = new URLSearchParams(window.location.search).get('s');
     
	 var table = $('#pali').DataTable({
	   'autoWidth': true,
	   'stateSave': true,
	   	       dom: '<"row"lf>r<t><"row"ip><Q>',

buttons: [


  // Остальные кнопки — обычные
  {
    text: 'Main',
    className: 'btn btn-link',
    action: function () {
      window.location.href = "/";
    }
  },
  

  
  {
    text: 'History',
    className: 'btn btn-link',
    action: function () {
      window.location.href = '/history.php';
    }
  },
    // Коллекция экспорта
  {
    extend: 'collection',
    text: 'Export',
    className: 'btn btn-secondary', // можно заменить на свою стилизацию
    buttons: [
      {
        extend: 'copyHtml5'
      },
      {
        extend: 'excelHtml5'
      },
      {
        extend: 'csvHtml5'
      }
    ]
  },
    {
    text: 'Read',
    className: 'btn btn-link',
    action: function () {
      window.location.href = "/read.php";
    }
  },
  {
    text: 'Make List',
    className: 'btn btn-link',
    action: function () {
      window.location.href = '/assets/makelist.html';
    }
  },
  {
    text: 'Sutta Diff',
    className: 'btn btn-link',
    action: function () {
      window.location.href = '/assets/diff';
    }
  },
  {
    extend: 'colvis',
    className: 'btn btn-link',
    text: 'Visibility'
  }
],




'paging'  : true,
	         "search": {
    "caseInsensitive": true,
        "smart": true
  },
	   "orderMulti": true,
	   'pageLength' : 28,
	   'lengthMenu' : [10, 28, 50, 100, 1000],
	   'responsive': true,
	    'colReorder': true,
	   'columnDefs': [
	            { type: "html", target: [0] },
	            { type: 'natural', targets: 2 },
        {
            targets: [1],
            orderData: [1, 2],
            orderSequence: ['desc', 'asc'] 
        },
        {
            targets: [2],
            orderData: [2, 1],
            orderSequence: ['desc', 'asc'] 
        }
					],
      'initComplete': function(){
         var api = this.api();
 
         // Populate a dataset for autocomplete functionality
         api.cells('tr', [0, 1, 2, 3]).every(function(){
            //var data = this.data().replace( /(<([^>]+)>)/ig, '');
            var data = $('<div>').html(this.data()).text();
          //  console.log(data);
            if(dataSrc.indexOf(data) === -1){ dataSrc.push(data); }
         });

         // Initialize Typeahead plug-in
         $('.dataTables_filter input[type="search"]', api.table().container())
            .typeahead({
              autoSelect: false,
               source: dataSrc,
               afterSelect: function(value){
                  api.search(value).draw();
               }
            }
         );
      }
   });			
          if (filterValue) {
        table.search(filterValue).draw();
        var currentUrl = new URL(window.location.href);
        currentUrl.searchParams.delete('s');
        history.replaceState({}, '', currentUrl);
}
    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Expand row details
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    });
    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Collapse row details
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    });
});
  </script>
  <script src="/assets/js/themeswitch.js"></script>
      <script defer>
           //to enable bootstrap tooltip    
$(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>    


</body>
</html>
