/*------------
 Embed Font
------------*/

@font-face {
    font-family: Bookmania;
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/Bookmania-Regular.woff);
}

@font-face {
    font-family: Bookmania;
    font-weight: normal;
    font-style: italic;
    src: url(../../fonts/bookfonts/Bookmania-RegularItalic.woff);
}

@font-face {
    font-family: Bookmania;
    font-weight: bold;
    font-style: normal;
    src: url(../../fonts/bookfonts/Bookmania-Bold.woff);
}

@font-face {
    font-family: Bookmania;
    font-weight: bold;
    font-style: italic;
    src: url(../../fonts/bookfonts/Bookmania-BoldItalic.woff);
}

@font-face {
    font-family: "Semplicita Pro Light";
    font-weight: normal;
    font-style: normal;
    src: url(../../fonts/bookfonts/SemplicitaPro-Light.woff);
}

@font-face {
    font-family: "Semplicita Pro SemiBold";
    font-weight: bold;
    font-style: normal;
    src: url(../../fonts/bookfonts/SemplicitaPro-SemiBold.woff);
}

/*------------
 Layout
------------*/

body {
    font-family: Bookmania, serif;
    font-size: 1.1em;
}

/*------------
 Headings
------------*/

h1 {
    font-style: normal /* overrides ../../css/essays.css:211 */;
    font-family: "Semplicita Pro Light", "Semplicita Pro SemiBold", sans-serif;
    text-align: left;
    margin-left: 4%;
}

h2 {
    font-size: 1.35em /* overrides ../../css/essays.css:366 */;
    margin-left: 4%;
}

h3 {
    font-family: "Semplicita Pro SemiBold", sans-serif;
    font-size: 0.85em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin: 1.2em 4% 0.6em 4%;
    text-align: left;
}

#titlepage h2 {
    font-style: normal /* overrides ../../css/essays.css:439 */;
    font-family: "Semplicita Pro Light", "Semplicita Pro SemiBold", sans-serif;
}

#titlepage h3 {
    padding-top: 12% /* overrides ../../css/essays.css:592 */;
    font-style: italic /* overrides ../../css/essays.css:550 */;
    font-family: Bookmania, serif;
}

/*------------
Copyright Page
------------*/

#copyright h2 {
    font-family: "Semplicita Pro SemiBold", sans-serif;
}

/*------------
 Paragraphs
------------*/

.block {
    margin: 0.9em 4% /* overrides ../../css/essays.css:1109 */;
    font-size: 0.95em;
}

.signatures {
    font-size: 1.1em;
}

/*
 * Trojan Horse Table
 ********************/
#TH_table td {
    padding: 0.3em 4%;
    vertical-align: text-top;
}
