#nav .quick-links {
  padding: %1;
  margin: .2em 0;
}

#nav .quick-links input {
  padding: 2px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width:170px;
  margin-left:14px;
  background:white;
}

#nav ul {
  z-index: 1;
}

#nav .quick-links ul {
  margin: 2%;
  z-index: 0;
  padding: 0;
  width: 90%;
  position: absolute;
  right: 0%;
  top: 51px;
  display: block;
  background: white;
  border: 1px dotted #f0f0f0;
  border-bottom: 0;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 8px 5px 0px #ddd;
}

#nav .quick-links ul li {
  display: block;
  border-bottom: 1px dotted #f0f0f0;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.quick-links ul li:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.quick-links .book-wrapper {
  display: inline-block;
}

.quick-links .book {
  background: #ddd;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #333;
  padding: 3pt 5pt 1pt 5pt;
  margin-right: 0.25em;
  font-size: 9pt;
  font-family: 'StoneSans';
  display: block;
  box-shadow: 1px 1px 1px #ccc;
}

.quick-links ul li:hover .book {
  background: #ccc;
}

.quick-links ul li:hover .book:hover {
  background: #999;
  color: white;
}

#nav .quick-links .title {
  display: inline-block !important;
  width: 100%;
  text-indent: 0 !important;
  margin: 0 !important;
  padding: 3px !important;
  color: #333;
  font-size: 10pt !important;
  vertical-align: baseline !important;
  /*padding-top: 1.6% !important;*/
}

#nav .quick-links .title:visited {
  color: #666;
}

#nav .quick-links .title:hover {
  background: transparent !important;
  color: #c05c26 !important;
}

#nav .quick-links .title {
  font-weight: normal;
  display: inline;
  font-size: 11pt;
}

#nav .quick-links .view-more-li {
  text-align: right;
  background: linear-gradient(to right, #f6f6f6, #fff);
  padding-right: 2%;
}

#nav .quick-links .view-more {
  font-size: 10pt;
  text-decoration: underline;
  color: #666;
  padding: 1%;
  padding-bottom: 0.6%;
}

#nav .mobile-search {
  display: none;
}

@media (max-width: 800px) {
  .slicknav_menu .mobile-search {
    display: block;
  }

  .slicknav_menu .desktop-search input {
    display: none !important;
  }
}

/** Search page view **/

#welcome .search-page .quick-links {
  width: 85%;
  margin: auto;
  margin-bottom: 2em;
  background:white;
  text-align:center;
}

#welcome .search-page .quick-links input {
  font-size: 13pt;
  padding: 2%;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0px #999;
  color: #666;
  width: 90%;
  background:white;
}

#welcome .search-page .quick-links ul {
  margin-top: 2%;
  padding: 0;
}

#welcome .search-page .quick-links ul li {
  border-top: 1px dotted #ccc;
  text-indent: 0;
  margin-left: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

#welcome .search-page .quick-links ul li .title {
  font-weight: normal;
  padding: 1.333%;
  display: inline-block;
  width: 100%;
}
