
/* font converted using font-converter.net. thank you! */
@font-face {
 font-family: "URWPalladioITU";
 src: url("../fonts/paitur.otf");
 src: url("../fonts/paitur.woff");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "URWPalladioITU-Bold";
 src: url("../fonts/paitub.otf");
 src: url("../fonts/paitub.woff");
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: "URWPalladioITU-Italic";
 src: url("../fonts/paitui.otf");
 src: url("../fonts/paitui.woff");
 font-weight: normal;
 font-style: italic;
}
@font-face {
 font-family: "URWPalladioITU-BoldItalic";
 src: url("../fonts/paitubi.otf");
 src: url("../fonts/paitubi.woff");
 font-weight: bold;
 font-style: italic;
}

* {box-sizing: border-box}

html {
 background: center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover
}

body {
	font: normal normal 1.15em/1.3em Helvetica, serif;
	margin-left: 5px;
	z-index:1;
 max-width: 1640px;
 max-height: auto;
 margin: 2px 2px 2px 2px;
 border-top-style: 1px solid #fff;
 border-right-style: 1px solid #fff;
 border-bottom-style: none;
 border-left-style: 1px solid #fff;
 background-color: #ffffff;
 box-shadow-top: 0px #292929;
 box-shadow-right: 7px #292929;
 box-shadow-bottom: none;
 box-shadow-left: 7px #292929;
 transition: background-color .3s;
-webkit-box-shadow: 0px 2px 7px #292929;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
	}

body[light-mode=dark] {
    background-color: #141516;
    color: white;
}

#content,
#footer,
#breadcrumbs {
 padding: 15px;
}

.bwcontainer {
  max-width:1640px;
  margin-top:2px;
  margin-left:0px;
  background-color: #FFF3D6;
}

#content {
max-width:1610px
}

 .bwcontainer2 {
   max-width:1640px;
   margin:auto;"
 }

.bwcontainer3 {
 max-width:1640px;
 margin:auto;
 background-color: #FFF3D6;
}

 .bwcontainer4  {
   max-width:1640px;
   margin-top:8px;
 }

#bwlogo {
  width:100%;
  max-width:320px;
}

#mySidebar {
  display:none;
  z-index:2;
  width:40%;
  min-width:300px;
}

.searchform {
font-weight:bold;
color:gray;
background-color:white;
}

[light-mode=dark] .searchform {
  background-color: #141516;
color:white;
}
/* style for red font awesome "close window" icon  */
.red-color {
color:red;
}

[light-mode=dark] #snheading {
  background-color: #141516;
}

[light-mode=dark] #searchlinks a {
color: blue;
}


[light-mode=dark] #searchlinks a:visited, a:link, a:active {
color: blue;
}

#searchlinks a span {
color: blue;
text-decoration: underline;
}

#searchlinks a:visited, a:link, a:active {
color: blue;
}

td, th {
	vertical-align:top;
}

br.half {
 margin-bottom:0.5em;
}

span.half {
   display:block;
   line-height: 0.5em;
}

/* =========== stuff not in 'pairs' ================= */
h1,h2,h3,h4,h5,h6 {
	text-align: center;
	padding:0;
	line-height:120%;
 font-weight:bold;
 margin: 0 0 .5em 0 ;
}
h1.left-align, h2.left-align, h3.left-align{
	text-align: left;
}


h1 { /* h1 spans the two "pairs" columns -- not used */
 font-size: 100%;
}

h2 {
 font-size: 135%;
}

h3 {
 font-size: 120%;
}

h3.samttl {
 margin: 1em 0;
}

h4 {
 font-size: 110%;
}

h5 {
 font-size: 100%;
}

p, .p {
 font-size:100%;
 margin:0 0 0.5em 0 !important;
 padding:0;
}

/* pairs *************************** */
.pairs hgroup *:first-child {
 display:none;
}

.pairs td, .pairs tr {
	padding: 0 .5em;
	margin: 0;
	vertical-align: top;
}

.pairs p {
/*	padding: 0.25em; */
	padding: 0;
/*	padding-left: 1em; */
	margin: .5em 0;
	}
 
/* fill screen with English and Pali, force words to wrap */
.pairs {
	table-layout: fixed;
	width: 100%;
	word-break: break-word;
}

.pairs h1, .pairs h3, .pairs h4, .pairs h5, .pairs h6 {
 margin: 1em 0 .5em 0;
}

.pairs h1 { /* never used */
	font-size: 120%;
 font-style: italic;
 padding-bottom:1.75em;
	}

.pairs h3 {
	font-size: 110%;
 }

.pairs h4 {
	font-size: 90%;
 }

.pairs h5, .pairs h6 {
	font-size: 80%;
	}

.pairs h6 {
 font-style: italic;
	}

.pairs td:last-child p {
	font-size: 100% !important;
}

/* Force Pali to display on top of English on smaller screens */
@media screen and (max-width: 595px) {
	.pairs tr {
		display: flex;
		flex-flow: column-reverse wrap;
	}
 
	.pairs {
		table-layout: auto;
		width: 100%;
		word-break: break-word;
	}

	.pairs td {
		width: 100% !important;
		margin: 0;
	}

	p:lang(pi) {
		font-weight: bold;
	}
}

/* unvisited link */
a:link {
  color: blue;
}

[light-mode=dark] a:link {
  color: #add8e6;
}

/* visited link */
a:visited {
  color: blue;
}

[light-mode=dark] a:visited {
  color: #add8e6;
}

/* mouse over link */
a:hover {
  color: blue;
font-weight:bold;
}

/* selected link */
a:active {
  color: blue;
}

[light-mode=dark] a:active {
  color: #add8e6;
}

/*
[light-mode=dark] .w3-bar w3-light-grey center {
background-color: grey;
}*/

header {
	padding: 0px;
}

.raw_sutta {
	display:none;
}

footer {
 min-height: 30px;
 border-top: 4px solid #DDD;
 -webkit-border-bottom-left-radius: 5px;
 -webkit-border-bottom-right-radius: 5px;
 -moz-border-radius-bottomleft: 5px;
 -moz-border-radius-bottomright: 5px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 z-index:1;
 margin-top:2em;
}

#homenav {
	text-align: center;
	padding: 10px 5px 10px 5px;
}

#vbnav {
 margin-top:0.75em;
}

.homenav a:hover, a:visited, a:link, a:active {
	text-decoration: underline;
}

.logotext {
	height: 123px;
	float: none;
	width: 100%;
}

.help {
	height: 20px;
	width: 100%;
}

.help a {
	position: absolute;
	z-index: 2;
	margin-top: 5px;
	margin-left: 30px;
 margin-bottom: 0px;
 width: 20px;
	text-decoration: none;
	}

#navbar {
	background-color: #fff3d6;
	z-index:2;
	float: none;
	}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Navigation tabs for AN and SN etc */
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#TabMenu {
	position:relative;
	left:6px;
	top:0px;
	width:830px; /* now the same width as main menu */
	height:36px;
	z-index:8;
	margin: 0 100% 2em 0; /* 100% runs the margin to the edge of the viewport */
	}

#breadcrumbs {
	font-size: 95%;
	float: none;
	z-index: 2;
	}

#breadcrumbs a {
	text-decoration: underline;
 padding-left: 4px;
}

#breadcrumbs a:after {
	content: " ► ";
	color: orange;
 padding: 4px 4px;
 display: inline-block;
}

[light-mode=dark] #breadcrumbs {
  background-color: #141516;
color:white;
}


.bottomlinks {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.bottomlinks a {
  float: left;
  padding: 12px;
  color: #add8e6 !important;
  text-decoration: underline;
  font-size: 17px;
  width: 20%; /* Five links of equal widths */
  text-align: center;
}

.bottomlinks a:hover {
  font-weight: bold;
  color:#add8e6; 
}

.bottomlinks a.active {
  background-color: #4CAF50;
}


[light-mode=dark] #bottom_links a:visited, a:link {
color: white;
}

[light-mode=dark] #bottom_links a:hover {
color: #add8e6;
}

[light-mode=dark] #bottom_links a:visited {
color: #add8e6 !important;
}

.bwnav {
  background-color: white;
  overflow: auto;
  text-align: center;
}

[light-mode=dark] .bwnav {
  color: blue;
}

.bwnav a {
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  margin:1.25em auto;
  text-align: center;
}

.bwnav a:hover {
  font-weight: bold;
  background-color: white;
}

.bwnav a.active {
  font-weight: bold;
}

[light-mode=dark] .bwnav a {
color: blue;
}

[light-mode=dark] .bwnav a:hover {
  color:blue;
  font-weight: bold;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .bottomlinks a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
/*Sub navigation */
.subnav .subnav6 .subnav3 .subnav11 {
  width: 100%;
  background-color: white; /* Background colour of navigation */
  overflow: auto;
  padding-bottom: 10px;
}

.subnav a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Five links of equal widths */
  text-align: center;
}

.subnav6 a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.subnav3 a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.subnav3 a {
 width:33%;  /* Three links of equal widths */
}

.subnav6 a {
 width:16.66%;  /* Six links of equal widths */
}

.subnav .subnav6 .subnav3 .subnav11 a:hover {
  background-color: green;
}

.subnav .subnav6 .subnav3 .subnav11 a.active {
  background-color: yellow;
}

[light-mode=dark] .subnav a, .subnav6 a, .subnav3 a, .subnav11 a {
color: blue !important;
}

.bwsubmenu2  {
margin: 10px 10px 10px 2px;
}

@media screen and (max-width: 600px) {
  .subnav .subnav6 .subnav3 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.bwsubnav {
background:#fdf2b8;
}

	#metaarea a {
	text-decoration: underline;
  width:20%;
  text-align: center;
}

.information {
	font-size: 95%;
	color: #141516;
	text-align: center;
	float: none;
	z-index: 2;
	}

#linksbar {
	display: block;
	position: relative;
	z-index: 2;
	font-size: 80%;
	color: #141516;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#sublinks {
	display: block;
	position: relative;
	z-index: 2;
	font-size: 80%;
	color: #141516;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
	}

#firsttableheading {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

/* controlpanel ---*/

#controlpanel {
	position: fixed;
 bottom: 15px; /* 70px; */
	float:right;
	right: 25px;
	z-index: 9000;
	font-family: Arial, Helvetica, sans-serif;
	color: #141516;
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
	}

#controlpanel > ul > li a{
	/* Improve Contrast */
	text-shadow: 2px 2px rgba(255, 255, 255, 0.7), -2px -2px rgba(255, 255, 255, 0.7);
}

#controlpanel ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

#controlpanel li {
	text-align:center;
	margin: 0 !important;
	padding: 0 !important;
}

#controlpanel .inner {
	background: rgba(172, 216, 230, 0.6 );
	padding: 0 2px 5px 2px;
	border-radius: 4px;
}

.inner li {
	height: 26px;
}

#controlpanel ul ul li {
	margin: 0.4em; /* 0.2em; */
	width: 6em; /* 7em; */
}

#controlpanel a, #controlpanel button {
	font-weight: bold;
	text-decoration: none;
	color: #141516;
	font-size: 90%;
}

#pali.palitoggle {
	font-weight: bold;
	text-decoration: none;
	color: #141516;
	margin-top: -3px;
}

#pali {
	width: 40%;
	border: 2px outset #B0B0B0;
 	background: -webkit-linear-gradient(#B0B0B0, #F8F8F8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#B0B0B0, #F8F8F8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#B0B0B0, #F8F8F8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#B0B0B0, #F8F8F8);
	color: white:
}

#pali.active {
	background: linear-gradient(#33CCFF, #99CCFF);
	background: -webkit-linear-gradient(#33CCFF, #99CCFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#33CCFF, #99CCFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#33CCFF, #99CCFF); /* For Firefox 3.6 to 15 */
 border: 2px outset #3366CC;
 font-weight: bold;
	text-decoration: none;
	color: #141516;
	}

#controlpanel button.palitoggle:hover {
	background: linear-gradient(#33CCFF, #99CCFF);
	background: -webkit-linear-gradient(#33CCFF, #99CCFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#33CCFF, #99CCFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#33CCFF, #99CCFF); /* For Firefox 3.6 to 15 */
 border: 2px outset #3366CC;
 font-weight: bold;
	text-decoration: none;
	color: white;
}

/* Previous and Next sutta links */
#previous-sutta, #next-sutta {
	position:absolute;
	line-height: 1.5em;
	padding: 3px;
}

#next-sutta {
	right: 5px;
}

#previous-sutta {
	left:5px;
}

#previous-sutta:after {
	content: "◀"; /* " ◀ "; */
}

#next-sutta:after {
	content: "▶"; /* " ▶ "; */
}

#next-sutta, #previous-sutta, .page-topbot {
	color:grey;
	font-size: 75%;
	text-decoration: none;
	padding: 2px; /* 5px; */
	width: 1.1em; /* 3.6em; */
	margin-top: .2em;
	padding-top: 0;
	background: rgba(255, 255, 255, 0.6 );
}

.page-topbot {
	color:red;
}

#find-on-page {
 position:absolute;
 width: 340px;
 height: 25px;
 padding: 5px 0 19px 5px;
 left: 460px;
 top: 20px;
 border-radius: 10px;
	background-image: url("../images/find-bkgrd.png");
 transition: 0.5s;
 z-index: 5400;
}

#find-on-page > * {
	float:left;
}

#find-on-page button {
	height: 100%;
	cursor: pointer;
	padding: 0px;
	margin : 4px 4px 0 4px;
}

#find-on-page button[disabled=disabled]{
	background-color:#daa;
	cursor: default;
}

#find-on-page #find_string {
 width: 160px;
	height: 100%;
 font-weight: normal;
 z-index: 1;
}

#find_string inputbox {
	height:90%;
}

#find-on-page .inputbox:hover, #find-on-page .inputbox:focus {
}

#find-on-page label { display: none; }

.search-match {
	background: yellow;
	border-radius: 3px;
	border:2px solid yellow;
}

.search2-match {

}

.search3-match {

}

.search-current {
	border:2px solid red;
}

.firsttableheading{
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
}

.pairs td {
	width: 50%;
	margin: 0;
 word-wrap: break-word;
}

.pairs td:last-child p {
	font-size: 125%;
 word-wrap: break-word;
}

fieldset.input { padding: 0; }

.search .word .inputbox {
 margin: 0;
}
.search .word button {
 height: 22px;
}

/* Search ---*/
form#searchForm { border-top: 1px solid #ccc; padding: 15px 0; }

form.poll .button { margin-right: 5px; }

input, select, textarea, .inputbox {
 font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 100%;
 padding: 3px 5px;
}

.inputbox { border: 1px solid #ccc; background: #fff; }

.inputbox:hover, .inputbox:focus { background: #ffffcc; }

.left { text-align: left; }

/* Tables ---*/

table.plain, th, td {
	margin-left: 3px;
	font-size: 110%;
/*	border: solid 1px #ddd;*/
	text-align: left;
}

table {
	border-collapse: collapse;
}

th { font-weight: bold; padding: 2px; text-align: left; }

td {
font-size: 120%;
padding: 2px;
word-wrap: break-word;
} /* Make font larger in java generated table English and Pali */

thead tr th { background: #141516; color: #fff; padding: 0px; }

[light-mode=dark].th, [light-mode=dark].tr {
background:  #141516 !important;

} 

/*thead tr th { }

thead tr th a,
thead tr th a:hover,
thead tr th a:focus,*/

thead tr th a:active { color: #fff;}

/* Format Sutta Indexes */

table.suttalist {
	margin-left:5px;
	font-size: 110%;
 overflow: hidden;
}

.suttalist tr {
	background: none;
	margin: 0px;
	padding: 0px;
	border: solid 1px #ddd;
}

.suttalist tr:hover a {background-color: #ffffcc}

[light-mode=dark] .suttalist tr:hover a {
background-color: #ffffcc;
color: blue;
}

.suttalist td {
	padding: 0;
}

.suttalist td a {
	text-decoration: none;
	display: inline-block;
	width:100%;
	padding: 5px;
color: blue;
}

[light-mode=dark] .suttalist td a {
	color: white;
background-color: #141516;
}


.suttalist td:first-child {
	text-align:left;
	padding-right: 1px;
	white-space:nowrap;
	}

.suttalist caption, .sectionlist caption {
	text-align: center;
	margin-bottom: 1em;
	font-size: 80%;
}

table.suttalist2 {
	margin-left:40px;
	font-size: 110%;
}

.suttalist2 tr {
	background: none;
	margin: 0px;
	padding: 0px;
	border: solid 1px #ddd;
}

.suttalist2 tr:hover a {background-color: #ffffcc; text-decoration:underline}

.suttalist2 td {
	padding: 0;
}

.suttalist2 td a {
	text-decoration: none;
	display: inline-block;
	width:100%;
	padding: 5px;
}

.suttalist2 td:first-child {
	text-align:left;
	padding-right: 8px;
	white-space:nowrap;
	}

.suttalist2 caption, .sectionlist caption {
	text-align: center;
	margin-bottom: 1em;
	font-size: 80%;
}

table.contentpane, table.tablelist, table.category { width: 100%; }

table.contentpaneopen { border: none; border-collapse: collapse; border-spacing: 0; }

.term, .rule, .subrule {
	font-weight: bold !important;
}

td.c1 {
	vertical-align: top !important;
	padding-top: .27em;
	text-align: left;    
	font-size: 95%;  /* taken from .minor */
}

.narrowtable {
 overflow: hidden;
 max-width:700px;
}

 .translator {
	font-family: Arial, Helvetica, sans-serif;
	color: #141516;
	font-size: 95%;
	list-style: none;
	text-align:center; /* updated by U */
			}

[light-mode=dark] .translator {
	color: #f0f8ff;
			}

.minor {
	color: #141516;
	font-size: 95%;
	list-style: none;
			}

#metaarea {
	font-size: 95%;
	}

#metaarea.translator p {
	font-size: 95%;
	}

 div #metaarea {
 margin: 1em 0 1.5em 0;
 }

.add, .add1 {
	color: #999999 !important;
		}

[light-mode=dark] .add , .add1 {
color: white !important;
}


.add:before, .add1:before {
	content: "[";
	}

.add:after {
	content: "]";
	}

/* Notes */

.note.presutta {
 position: relative;
 top: -1.1em;
}

.presutta .details {
 min-width:15em;
}

.note {
 background: url(../images/info.png) no-repeat;
	border-radius: 2px;
	padding-left: .9em;
	font-weight: normal;
		}

h2 .note {
		font-size: .7em;
}

h1 .note {
		font-size: .55em;
		line-height: 23px;
}

a.seesutta {
		font-weight: bold;
}

.note .details {
 position:absolute;
 visibility:hidden;
 opacity:0;
 background: palegoldenrod;
 border: 2px solid goldenrod;
 transition: 0.12s;
 font-size: 90%;
 width: 90%;
/* max-width: 10em; */
 z-index: 1002;
 display:block;
 margin:0 auto;
 margin-right:2em;
 padding: .25em .5em;
}


[light-mode=dark] .details {
background: black;
border: 2px solid palegoldenrod;
}

[light-mode=dark] .details a {
color: #9ADBD6;
}

[light-mode=dark] .details a hover {
font-weight: bold;
}


.note:hover .details {
 visibility:visible;
 opacity: 1;
 transition: 0.12s;
}

/* Copyright Info */

.copyrightnote.presutta {
 position: relative;
 top: -.1em;
}

.copyrightnote {
 background: url(../images/copyright.png) no-repeat;
	border-radius: 4px;
	padding-left: 1.2em;
	padding-right: 1,2em;
		}

.copyrightnote .details {
 position:absolute;
 visibility:hidden;
 opacity:0;
 background: palegoldenrod;
 border: 2px solid goldenrod;
 transition: 0.12s;
 font-size: 88%;
	color: #540;
 max-width: 22em;
 z-index: 1002;
}

.copyrightnote:after{
	content:"More copyright information ";
	padding-left:.4em;
}

.copyrightnote:hover .details {
 visibility:visible;
 opacity: 1;
 transition: 0.12s;
}

.copyright, .copyright a, a:visited, a:link, a:active {
color:blue;
}

[light-mode=dark].copyright a:visited, a:link, a:active {
color: blue;
}

[light-mode=dark].copyright a:hover {
color: blue !important;
font-weight: bold;
}

/* Pali Lookup */

.lookup {
	position: relative;
}

.meaning {
 position:absolute;
 visibility:hidden;
 display:block;
 opacity: 0;
 bottom: 2.2em;
 margin-left: 40px;
 margin-right: auto;
 z-index: 2002;
 border: 1px solid darkorchid;
 background: #fff3d6;
 border-radius: 5px;
 font-size:16px;
 font-weight:normal;
 font-style:normal;
 text-decoration: none;
 text-align: left;
 padding: 0.1em 0.5em;
 margin-top:1em;
 min-width:20em;
 max-width:550px;
 height: auto;
 transition: 100ms;
}

[light-mode=dark] .meaning {
 background: #a52a2a;
 border: 2px solid #E6BFAD;
}

.lookup:hover .meaning {
 visibility:visible;
 opacity: 1;
 transition: 100ms;
}

.lookup a {
 font-weight: bold;
}

.ms_pali,.ms_eng,.bps {
	float:left;
	color: #141516;
	font-size: 90%;
	margin-left: -1em;
	padding-right: .7em;
}

.pts_pn {
	display: none;
}

.msdiv, .ms {
	display: none;
	margin-right:.1em;
}

/* Wisdom Publications Page Numbers
.wp[id]:before{
	content:attr(id)
}

.wp {
	color: red;
	font-size: 90%;
	margin-left: .5em;
	padding-right: .5em;
	}
*/

/* alpha order */
.pts-cs,
.pts-cs-empty,
.pts-pn,
.pts-vp-en,
.pts-vp-pi
 {
	color:#141516;
	font-size: 85%;
	padding: 0 .25em;
	content:attr(id);
	display: none;
}

.parno {
	color:#141516;
	font-size: 85%;
	padding-right:.5em;
}

[light-mode=dark] .parno {
color: white;
}

.endsection, .endsutta, .endbook { text-align: center; }

.speaker {
	font-weight:bold;
	color:#141516;
	}

.var, p span.var {
	background-color: #FFE4C4 !important; /* Bisque */
 color: grey;
}

[light-mode=dark] .var, p span.var {
	background-color: #edf1de !important; 
}


.verse {
	margin-left:1.5em !important;
	text-align: left;
}

q {display:none;
}

hr, .pairs hr {
 border:0px;
 height:0px;
 margin-top: -6px;
}

.half {
 margin-bottom:0.5em;
}
/* Light Mode Button - "Dark" toggle ball  */
.light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 30px;
    height: 16px;
    position: absolute;
    border: 1px solid rgba(255,255,255,0);
    position: static;
    top:20px;
    left:40px;
}

.light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
}
/* Light Mode Button - Surround */
.light-mode-button span:nth-child(1) {
    position: absolute;
    top:17px;
    left:21px;
    width: 30px;
    height:16px;
    background-color: #d6d7db;
    border-radius: 9px;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* Light Mode Button - "Light" toggle ball  */
.light-mode-button span:nth-child(2) {
    position: absolute;
    top:20px;
    left:24px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* Light & Dark Mode Styles */ 
body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 37px;
    background-color: #141516;
}

/* Label for the Light & Dark Mode button */ 
.box-lbl {
  font-family: Arial, Helvetica, sans-serif;
  color: #141516;
  font-size: 80%;
  font-weight: 600;<div lang="pi">
  cursor: pointer;
  position: absolute;
  top:16px;
  left:55px;
}

.w3-image {
    max-width: 100%;
    height: auto;
    margin-left: 30px; 
	    background-color: #FFF3D6;
}

 .w3-padding {
    padding: 0px 16px!important;
}

.centered {
  position: absolute;
  top: 0px;
}

.header-background {
  background-color: #FFF3D6;
  background-image: url('../images/headerlogo.png');
  background-repeat: no-repeat;
  background-position: top right; /* Background image in the upper right corner */
  background-size: cover; /* Or contain, depending on your preference */
}

@media screen and (min-width: 1640px) {
  .container {
  margin: auto;
  width: 50%; 
  margin-top:10px;
  min-width: 1640px;
}
}


/* The following rules are for assisting in the editing process by accentuating <hr> and heading elements. *\
/* For Publishing ... The end comment needs to be at the bottom of this page.
/* For Editing ... Move the end comment at the end of this page to the end of this line.   

 

 h1,h2,h3,h4,h5,h6, .pairs h1, .pairs h3, .pairs h4, .pairs h5, .pairs h6 {
 background-color: gold;
}

hr, .pairs hr {
 height:20px;
 margin-bottom:0;
 background-color:lime;
}

@media screen and (min-width: 600px) {
 h1,h2,h3,h4,h5,h6, .pairs h1, .pairs h3, .pairs h4, .pairs h5, .pairs h6 {
 background-color: gold;
}
*/
