
ul#css3menu0, ul#css3menu0 ul{
	margin-left:15px;
	list-style:none;
	padding:0;
	background-color:#dedede;
	border-width:1px;border-style:solid;
	border-color:#5f5f5f;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
	
ul#css3menu0 ul{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	-moz-box-shadow:3.5px 3.5px 5px #000000;
	-webkit-box-shadow:3.5px 3.5px 5px #000000;
	box-shadow:3.5px 3.5px 5px #000000;
	background-color:#FFFFFF;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-color:#d4d4d4;
	padding:0 10px 10px;
	}
	
ul#css3menu0 li:hover>*{
	display:block;}
ul#css3menu0 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;}
ul#css3menu0 li:hover{
	z-index:1;}
ul#css3menu0{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3menu0 li a{
	display:inline-block;}
ul#css3menu0>li{
	margin:0;}
ul#css3menu0 a:active, ul#css3menu0 a:focus{
	outline-style:none;}
ul#css3menu0 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;font:bold 14px Trebuchet MS;
	color:#000000;
	text-shadow:#FFF 0 0 1px;
	cursor:pointer;
	padding:10px;background-color:#c1c1c1;
	background-image:url("../images/mainbk.png");background-repeat:repeat;
	background-position:0 0;border-width:0 0 0 1px;
	border-style:solid;border-color:#C0C0C0;}
ul#css3menu0 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu0 ul a{
	text-align:left;padding:4px;background-color:#FFFFFF;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:14px 'Trebuchet MS';color:#000;text-decoration:none;}
ul#css3menu0 li:hover>a,ul#css3menu0 li a.pressed{
	background-color:#f8ac00;border-color:#C0C0C0;border-style:solid;color:#000000;text-shadow:#FFF 0 0 1px;background-image:url("../images/mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu0 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu0 ul li:hover>a,ul#css3menu0 ul li a.pressed{
background-color:#f8ac00;border-color:#C0C0C0;border-style:solid;color:#000000;text-shadow:#FFF 0 0 1px;background-image:url("../images/mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu0 li.topfirst>a{
	border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu0 li.toplast>a{
	border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}

#TabMenu
{
 float: left;
 width: 100%;
/* font-family: 'Gentium Basic'; */
 font-size: 90%;
 line-height: normal;
 border-bottom: 1px solid #EAC800;
}
#TabMenu ul
{
 margin: 0;
 padding: 10px 0px 3px 10px;
 list-style: none;
}
#TabMenu li
{
 display: inline;
 margin: 0;
 padding: 0;
}
#TabMenu a
{
 float: left;
 background: url("../images/styleleft.gif") no-repeat left top;
 margin: 0;
 padding: 0 0 0 4px;
 text-decoration: none;
}
#TabMenu a span
{
 float: none;
 display: block;
 background: url("../images/styleright.gif") no-repeat right top;
 margin-right: 3px;
 padding: 5px 14px 4px 10px;
 color: #000000;
 font-weight: normal;
 text-decoration: none;
}
#TabMenu a:hover span
{
 background-position: 100% -84px;
 color: #000000;
 font-weight: normal;
 font-style: normal;
 text-decoration: none;
 }
#TabMenu a:hover
{
 background-position: 0% -84px;
 }
#TabMenu #active a
{
 background-position: 0% -84px;
}
#TabMenu #active a span
{
 background-position: 100% -84px;
 color: #000000;
 font-weight: normal;
 text-decoration: none;
 }
 
 /* navigation for vibanga ---*/

/* Vibhanga nav bar styling */
	#vbnav {
		width: 100%;
		float: left;
		height: auto; /* 32px; */
		margin: -.75em 0 1.5em 0;
		position: relative;
		padding: 0;
		list-style-type: none;
		font-size: 95%;
/*
		background-color: #FFFFCC;
		border-bottom: 1px solid #ccc; 
		border-top: 1px solid #ccc;
*/
	}
	#vbnav li {
		float:left;
		list-style-type: none;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	#vbnav li a {
		display: block;
		padding: 0 7px; /* 5px 10px; */
		text-decoration: none;
		color: black;
		background-color:#ffffe7;
		border: 1px solid #d19d04;
		border-radius:6px;
		margin: 0 .5em .25em 0;
		}
	
	#vbnav li a:hover {
		background-color: #FFFF66;
		border: 1px solid black;
	 padding:0px 7px 0px 7px;	
				}
	
	.chapt {
		color: blue;
		font-style:italic;
	}
				
	#vbnav #active a, #vbnav #active li
{
		background-color: #FFFF66;
		font-weight:bold;
}

