/*------------
 Layout
------------*/
body {
  /*font-family: "Linux Libertine O", serif;*/
  font-family: "SabonNext", serif;
}
#titlepage, #copyright {
  margin: 0 12%;
}
#cover1 img, #cover2 img {
    padding:0;
    margin:0 auto;
    max-width:100%;
    display:block;
    box-shadow:3px 3px 3px #666;
}
/*------------
 Headings
------------*/
/*--------------------------
 remember to comment out
--------------------------*/
#titlepage1 h2, #copyright1 h2, #copyright1 h1, #cover1 h1, #titlepage2 h2, #copyright2 h2, #copyright2 h1, #cover2 h1, #quote1 h1, #quote2 h1 {
    display:none;
}
/*#BMC2allchapters h4.discussions {

}*/
/*-----------------------------
 remember to comment out above
-----------------------------*/
h1 + p, h2 + p, h3 + p {
  page-break-before: avoid;
}
h1, h2, h3, h4, h5, h6 {
    line-height:1em;
}
#abbreviations1 h2, #abbreviations2 h2 {
  text-indent: 12%;
}
/*#preface1 h2, #preface2 h2, #abbreviations1 h2, #abbreviations2 h2, #addendum1 h2, #addendum2 h2, #bibliography1 h2, #bibliography2 h2, #ruleindex1 h2, #ruleindex2 h2, #glossary1 h2, #glossary2 h2 {*/
  /*margin-top: 6%;*/
/*}*/
p.chapterheading {
  text-indent: 4%;
  margin: 0% 0 2% 0;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
h1 {
  margin: 0 0 1.2em 0;
  font-size: 1.4em;
  font-style: normal;
  letter-spacing: 0.1em;
  text-align: left;
  text-indent: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "SabonNext_DP", serif;
}
h2, #BMC2allchapters h3, #BMC2allappendices h3 {
  margin: 0 0 0 4%;
  text-indent: 0;
  font-size: 2.1em;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  text-transform: none;
  font-family: "SabonNext_DP", serif;
}
h3, #BMC1chapter10 h4, #BMC1chapter12 h4, .extra2headings h5 {
  margin: 1em 0 0.6em 4%;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1.2em;
  font-family: "SabonNext_DP", serif;
}
div.chapter h3 {
  font-size: 1.8em;
}
#BMC1chapter7 h3, #BMC1chapter8 h3, #BMC1chapter10 h3, #BMC1chapter12 h3 {
  text-align: center;
  font-style: normal;
  font-size: 1.2em;
  margin: 1em 0 1em 0;
}
h4, #introduction2 h3, #BMC1chapter7 h5, #BMC1chapter8 h5, #BMC1chapter10 h5, .extra2headings h6, .normal2headings h5, #BMC2chapter1 h5, #BMC2chapter2 h5, #BMC2chapter3 h5, #BMC2chapter4 h5, #BMC2chapter5 h5, #BMC2chapter6 h5, #BMC2chapter7 h5, #BMC2chapter8 h5, #BMC2chapter9 h5, #BMC2chapter10 h5, #BMC2chapter11 h5, #BMC2chapter12 h5, #BMC2chapter15 h5, #BMC2chapter16 h5, #BMC2chapter17 h5, #BMC2chapter21 h5, #BMC2chapter22 h5, #BMC2chapter23 h5, #BMC2chapter24 h5 {
  margin: 1em 0 0.6em 4%;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1em;
  font-family: "SabonNext", serif;
}
#BMC1chapter7 h4, #BMC1chapter8 h4 {
  font-style: italic;
  font-size: 1.8em;
}
#ruleindex1 h4 {
  margin-left: 8%;
}
#BMC2allchapters h4 {
  margin: 1em 4%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1.4em;
}
#BMC2allappendices h4 {
  margin-left: 0;
  font-size: 1.2em;
}
h5, #BMC1chapter7 h6, #BMC1chapter8 h6, #BMC1chapter10 h6, .extra2headings h7, .normal2headings h6, #BMC2chapter1 h6, #BMC2chapter2 h6, #BMC2chapter3 h6, #BMC2chapter4 h6, #BMC2chapter5 h6, #BMC2chapter6 h6, #BMC2chapter7 h6, #BMC2chapter8 h6, #BMC2chapter9 h6, #BMC2chapter10 h6, #BMC2chapter11 h6, #BMC2chapter12 h6, #BMC2chapter15 h6, #BMC2chapter16 h6, #BMC2chapter17 h6, #BMC2chapter21 h6, #BMC2chapter22 h6, #BMC2chapter23 h6, #BMC2chapter24 h6 {
  margin: 1em 0 0.6em 8%;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1em;
  font-variant: normal;
  font-family: "SabonNext", serif;
}
#BMC2allappendices h5 {
  font-weight: bold;
  margin-left: 4%;
}
h6, .extra2headings h8, .normal2headings h7, #BMC2chapter1 h7, #BMC2chapter2 h7, #BMC2chapter3 h7, #BMC2chapter4 h7, #BMC2chapter5 h7, #BMC2chapter6 h7, #BMC2chapter7 h7, #BMC2chapter8 h7, #BMC2chapter9 h7, #BMC2chapter10 h7, #BMC2chapter11 h7, #BMC2chapter12 h7, #BMC2chapter15 h7, #BMC2chapter16 h7, #BMC2chapter17 h7, #BMC2chapter21 h7, #BMC2chapter22 h7, #BMC2chapter23 h7, #BMC2chapter24 h7, #BMC2allappendices h7 {
  margin: 1em 0 0.6em 12%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  font-family: "SabonNext", serif;
}
#BMC2allappendices h6 {
  margin-left: 8%;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-family:StoneSans_SC, sans-serif;
}
/*------------
   Titlepage
------------*/
#titlepage1 h3, #titlepage2 h3 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  letter-spacing: 0;
  margin: 6% 0 0 0;
}
#titlepage1 h3 + h3, #titlepage2 h3 + h3 {
  margin-top: 0.6em;
}
#titlepage1 h4, #titlepage2 h4 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  margin: 10% 0 0 0;
}
#titlepage1 h4 + h4, #titlepage2 h4 + h4 {
  margin-top: 0.4em;
}
#titlepage1 h5, #titlepage2 h5 {
  text-indent: 0;
  text-align: center;
  margin: 0.4em;
  font-size: 0.8em;
}
#titlepage1 h5 + h5, #titlepage2 h5 + h5 {
  margin-top: 0.8em;
}
/*------------
  Partitions
------------*/
.partition p {
  text-align: center;
  text-indent: 0;
  letter-spacing: 0.3em;
  font-style: italic;
  margin: 10% 0 5% 0;
}
.partition h2 {
  text-align: center;
  font-style: normal;
  margin: 7% 0;
  padding:0;
  font-size: 1.6em;
  letter-spacing: 0.05em;
}
/*------------
Copyright Page
------------*/
#copyright1, #copyright2 {
  margin: 0% 12%;
  font-size: 0.9em;
}
#copyright1 p, #copyright2 p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright1 h3, #copyright2 h3 {
  text-indent: -0.75em;
  text-align: left;
  margin: 4% 0 1% 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-style: normal;
}
#copyright1 h3 + h3, #copyright2 h3 + h3 {
  margin-top: 2%;
}
/*---------------
    quote
---------------*/
#quote1, #quote2 {
  margin: 4% 18%;
  font-style: italic;
}
#quote1 p, #quote2 p {
  text-indent: 0;
  text-align: justify;
}
#quote1 .suttacite, #quote2 .suttacite {
  text-indent: 50%;
  margin-top: 1em;
}
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.2em 0;
  text-align: justify;
}
p.break {
  margin-top: 0.8em;
}
.first {
  margin-top: 1em;
}
/*.blockf {
  margin:.6em 4%;
}
.blockf p {
  margin: 0;
  text-indent:0;
}*/
.block {
  margin: 0.6em 4%;
}
.block p {
  margin: 0;
  text-indent: 0;
}
.block p + p {
  text-indent: 4%;
}
.blockl {
  margin: 0.4em 0;
}
.blockl p {
  margin: 0 0 0 7%;
  text-indent: -3%;
}
.blockll {
  margin: 0;
}
.blockll p {
  margin: 0 0 0 11%;
  text-indent: -3%;
}
.blocklll {
  margin: 0;
}
.blocklll p {
  margin: 0 0 0 15%;
  text-indent: -3%;
}
.rule {
  margin: 0.6em 0;
}
.rule p {
  font-style: italic;
  margin: 0 12%;
  text-indent: 0;
}
.rule p + p {
  text-indent: 4%;
}
.summary {
  margin: 0.4em 0;
  font-style: italic;
}
.blockp {
  font-style: italic;
  margin: 0.4em 4%;
}
.blockp p {
  margin: 0;
}
.blockn {
  margin: 0.6em 0;
}
.blockn p {
  margin: 0;
}
.signatures {
  text-indent: 50%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0;
}
.signatures + .signatures {
  margin-top: 0;
  margin-bottom: 1em;
}
.address {
  text-indent: 0;
  margin: 1.2em 0;
  font-size: 0.85em;
  font-style: normal;
}
.address p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: -0.2em;
}
.stars {
  text-indent: 0;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.rulesBMC2 p {
  text-indent: 0;
  margin: 0.6em 0;
}
.rulesBMC2 .blockl {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.rulesBMC2 .blockl p {
  margin: 0 0 0 7%;
  text-indent: -3%;
}
.rulesBMC2 .blockll p {
  margin: 0 0 0 11%;
  text-indent: -3%;
}
.rulesBMC2 .blockni {
  margin: 0.6em 0;
}
.rulesBMC2 .blockni p {
  margin: 0;
  text-indent: 0;
}
.rulesBMC2 .blockni p + p {
  text-indent: 4%;
}
.rulesBMC2 .blockleft {
  margin-left: 4%;
}
#glossary1 p, #glossary2 p {
  text-indent: 4%;
  margin-bottom: 0.6em;
}
#glossary1 .glossaryentry, #glossary2 .glossaryentry {
  font-style: normal;
  font-weight: bold;
}
.ruleindex p {
  font-style: italic;
}
.ruleindexnormal p {
  font-style: normal;
}
.biblioentries p {
  text-indent: -4%;
  margin: 0.6em 0 0.6em 4%;
}
#addendum1 .addrules {
  font-style: normal;
  font-weight: bold;
  text-indent: 0;
}
p.response {
  font-style: italic;
  margin-left: 12%;
  text-indent: 0;
}
p.dialog {
  margin-left: 36%;
  text-indent: 0;
}
p.suttaCite {
  text-indent: 40%;
}
/*------------
 formatting
------------*/
.bolditalic {
  font-weight: bold;
  font-style: italic;
}
.smaller {
  font-size: smaller;
  font-style: normal;
}
.small {
  font-size: 0.5em;
}
em {
  font-style: italic;
}
.em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.super {
  vertical-align: super;
}
.grey {
  color: grey;
}
.normal {
  font-style: normal;
}
.allcaps {
  text-transform: uppercase;
}
/*-------------
     tables
---------------*/
table {
  margin-left: 12%;
  /*margin-left: auto;
  margin-right: auto;*/
}
caption {
  text-align: left;
  margin: 0.6em 0;
}
td + td {
  padding: 0.2em 2em;
}
#BMC2appendixONE table, #BMC2appendixTWO table {
  margin: 0.6em 0 0.6em 8%;
}
#BMC2appendixONE td + td, #BMC2appendixTWO td + td {
  padding: 0 0.6em;
}
/*-------------
  abbreviations
---------------*/
/*#abbreviations1 table, #abbreviations2 table {
	margin-left:12%;
	/*margin-left: auto;
	margin-right: auto;
}
#abbreviations1 caption #abbreviations2 caption {
	margin-bottom:1em;
}
#abbreviations1 td+td, #abbreviations2 td+td {
	padding:.2em 2em;
}*/
#abbreviations1 p, #abbreviations2 p {
  font-style: normal;
  text-indent: 0;
  margin: 1.4em 4em;
}
/*------------
   Verses
------------*/
.verse {
  margin: 0.6em 8%;
  text-indent: 0;
  font-style: normal;
}
.normal {
  font-style: normal;
}
.verse-add {
  margin-top: 0.5em;
  text-indent: 0;
}
.verse p {
  text-indent: 0;
  margin: 0;
}
.verse p + p {
  text-indent: 0;
  margin: 0;
}
p.v_udent {
  margin-left: 0;
  text-indent: 0;
  padding-left: 0;
}
p.vspeaker {
  margin-bottom: 0.3em;
  text-indent: 0;
  font-style: italic;
}
p.v1 {
  text-indent: -1em;
  padding-left: 2em;
}
p.v2 {
  text-indent: -1em;
  padding-left: 3em;
}
p.v3 {
  text-indent: -1em;
  padding-left: 4em;
}
p.v4 {
  text-indent: -1em;
  padding-left: 5em;
}
p.v5 {
  text-indent: -1em;
  padding-left: 6em;
}
p.v6 {
  text-indent: -1em;
  padding-left: 7em;
}
p.v7 {
  text-indent: -1em;
  padding-left: 8em;
}
p.v8 {
  text-indent: -1em;
  padding-left: 9em;
}
p.v9 {
  text-indent: -1em;
  padding-left: 10em;
}
p.v10 {
  text-indent: -1em;
  padding-left: 11em;
}
p.v11 {
  text-indent: -1em;
  padding-left: 12em;
}
p.v12 {
  text-indent: -1em;
  padding-left: 13em;
}
p.v13 {
  text-indent: -1em;
  padding-left: 14em;
}
p.v14 {
  text-indent: -1em;
  padding-left: 15em;
}
p.v15 {
  text-indent: -1em;
  padding-left: 16em;
}
/*---------------
    epub photos
-----------------*/
.figure {
  display: block;
  width: 88%;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  page-break-inside: avoid;
}
.figure p {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  letter-spacing: 0.2em;
}
.photo img {
  width: 100%;
  border: 1px solid #333;
  box-shadow: 2px 2px 4px #666;
}
/*-----------
  hyperlinks
-------------*/
#content a:link {
    text-decoration: underline;
    color: #214d7d;
}
#content a:visited {
    color: #707070;
}
#content a:hover {
    color: #c05c26;
    text-decoration: none;
}
#contents a:link {
    text-decoration: none;
}
#contents a:hover {
    text-decoration: underline;
}
.no-ul {
    text-decoration: none;
}
.outlink:link {
    color: blue;
}
/*******extra fixes*********/
p.h5 {
  margin: 1em 0 0.6em 8%;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1em;
  font-variant: normal;
  text-indent: 0;
}
p.h6 {
  margin: 1em 0 0.6em 12%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-indent: 0;
}
