RewriteEngine on

RewriteCond %{HTTP:Accept-Language} ^ru_RU [NC]
RewriteRule ^/$ /ru/ [L,R=302]

# language starts with FR
RewriteCond %{HTTP:Accept-Language} ^ru [NC]
RewriteRule ^/$ /ru/ [L,R=302]

# else redirect to the English version
RewriteRule ^/$ / [L,R=302]

  
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]


RewriteCond %{HTTP_USER_AGENT} (bingbot|AhrefsBot|SemrushBot|PetalBot|DataForSeoBot|MegaIndex.ru|Barkrowler|SeekportBot|SemrushBot|Barkrowler) [NC]
RewriteRule .* - [F]
ErrorDocument 404 /assets/404ru.php
